xdef/src/test/java/mytests/X/SouborD1A.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SouborD1A">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="ZaznamPDN">
          <xs:complexType>
            <xs:sequence>
              <xs:choice maxOccurs="unbounded" minOccurs="3">
                <xs:element name="Protokol">
                  <xs:complexType>
                    <xs:attribute name="CisloDN" type="cisloDN" use="required"/>
                    <xs:attribute name="CJ" type="cjRelacePolicieDN" use="required"/>
                    <xs:attribute name="DatumCasOznameni" type="datumCasDN" use="required"/>
                    <xs:attribute name="KodUtvaruPolicie" use="required">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="NazevDN" type="nazevDN" use="required"/>
                    <xs:attribute name="RokDN" use="required">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="Zpracovatel" type="zpracovatelDN" use="required"/>
                  </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" name="Rozhodnuti">
                  <xs:complexType>
                    <xs:simpleContent>
                      <xs:extension base="rozhodnutiDN">
                        <xs:attribute name="DatumRozhodnuti" type="datumCasDN" use="optional"/>
                      </xs:extension>
                    </xs:simpleContent>
                  </xs:complexType>
                </xs:element>
                <xs:element name="Vyliceni" type="vyliceniTextDN"/>
                <xs:element name="ObjStranka">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="Misto" type="mistoTextDN"/>
                      <xs:element maxOccurs="2" minOccurs="0" name="GPS">
                        <xs:complexType>
                          <xs:attribute name="Delka" type="gpsCoordinateDN" use="required"/>
                          <xs:attribute name="Sirka" type="gpsCoordinateDN" use="required"/>
                          <xs:attribute name="System" type="gpsSystemDN" use="required"/>
                        </xs:complexType>
                      </xs:element>
                      <xs:element maxOccurs="unbounded" minOccurs="0" name="RizikovyFaktor">
                        <xs:complexType>
                          <xs:attribute name="KodFaktoru" use="required">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:attribute>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                    <xs:attribute name="CelkovaSkodaKc" type="castkaKcDN" use="optional"/>
                    <xs:attribute name="CisloPopisne" type="cisloDomuDN" use="optional"/>
                    <xs:attribute name="DatumCasDN" type="datumCasDN" use="required"/>
                    <xs:attribute name="DatumCasDoDN" type="datumCasDN" use="optional"/>
                    <xs:attribute name="HlavniPricina" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="KodOkresu" use="required">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="Obec" type="obecDN" use="optional"/>
                    <xs:attribute name="Pricina" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="Ulice" type="uliceDN" use="optional"/>
                  </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="Vozidlo">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element maxOccurs="1" minOccurs="0" name="Skoda">
                       <xs:complexType>
                         <xs:simpleContent>
                           <xs:extension base="xs:string">
                             <xs:attribute name="Kc" type="castkaKcDN" use="optional"/>
                           </xs:extension>
                         </xs:simpleContent>
                       </xs:complexType>
                      </xs:element>
                      <xs:element maxOccurs="1" minOccurs="0" name="JinaSkoda">
                        <xs:complexType mixed="true">
                          <xs:annotation>
                            <xs:documentation>
                              In the X-definition is declared optional text item (X-definition type name: 'skodaTextDN') as string(%minLength=1,%maxLength=4000)
                            </xs:documentation>
                          </xs:annotation>
                          <xs:attribute name="Kc" type="castkaKcDN" use="optional"/>
                        </xs:complexType>
                      </xs:element>
                      <xs:element maxOccurs="1" minOccurs="0" name="Drzitel" type="subjektTextDN"/>
                    </xs:sequence>
                    <xs:attribute name="CisloDokladuPojisteni" type="cisloDokladuPojisteniDN" use="optional"/>
                    <xs:attribute name="CisloZK" type="cisloZKDN" use="optional"/>
                    <xs:attribute name="DatumUhradyHP" type="datumCasDN" use="optional"/>
                    <xs:attribute name="DruhVozidla" type="druhVozidlaDN" use="required"/>
                    <xs:attribute name="KodPojistitele" type="kodPojistiteleDN" use="optional"/>
                    <xs:attribute name="MesicSTKDo" type="platnostSTKDoDN" use="optional"/>
                    <xs:attribute name="MistoUhradyHP" type="mistoTextDN" use="optional"/>
                    <xs:attribute name="MPZ" type="mpzDN" use="optional"/>
                    <xs:attribute name="OznSegmentu" type="oznSegmentuDN" use="required"/>
                    <xs:attribute name="PlatnostSTK" type="platnostSTKDN" use="optional"/>
                    <xs:attribute name="PlatnostZKDo" type="datumCasDN" use="optional"/>
                    <xs:attribute name="PlatnostZKOd" type="datumCasDN" use="optional"/>
                    <xs:attribute name="PojisteniText" type="pojisteniTextDN" use="optional"/>
                    <xs:attribute name="PojistneHPKc" type="pojistneHPDN" use="optional"/>
                    <xs:attribute name="RokVyroby" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="SPZ" type="spzDN" use="optional"/>
                    <xs:attribute name="StavBrzd" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="TypBrzd" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="TypVozidla" type="typVozidlaDN" use="optional"/>
                    <xs:attribute name="VIN" type="vinDN" use="optional"/>
                    <xs:attribute name="VydalZK" type="vydalZKDN" use="optional"/>
                    <xs:attribute name="ZnackaVozidla" type="znackaVozidlaDN" use="optional"/>
                  </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="Tramvaj">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element maxOccurs="1" minOccurs="0" name="Skoda">
                       <xs:complexType>
                         <xs:simpleContent>
                           <xs:extension base="xs:string">
                             <xs:attribute name="Kc" type="castkaKcDN" use="optional"/>
                           </xs:extension>
                         </xs:simpleContent>
                       </xs:complexType>
                      </xs:element>
                      <xs:element maxOccurs="1" minOccurs="0" name="JinaSkoda">
                        <xs:complexType mixed="true">
                          <xs:annotation>
                            <xs:documentation>
                              In the X-definition is declared optional text item (X-definition type name: 'skodaTextDN') as string(%minLength=1,%maxLength=4000)
                            </xs:documentation>
                          </xs:annotation>
                          <xs:attribute name="Kc" type="castkaKcDN" use="optional"/>
                        </xs:complexType>
                      </xs:element>
                      <xs:element maxOccurs="1" minOccurs="0" name="Vlastnik" type="subjektTextDN"/>
                    </xs:sequence>
                    <xs:attribute name="CisloDokladuPojisteni" type="cisloDokladuPojisteniDN" use="optional"/>
                    <xs:attribute name="DruhVozidla" type="druhVozidlaDN" use="required"/>
                    <xs:attribute name="EvidCislo" type="evidCisloDN" use="optional"/>
                    <xs:attribute name="KodPojistitele" type="kodPojistiteleDN" use="optional"/>
                    <xs:attribute name="Linka" type="linkaDN" use="required"/>
                    <xs:attribute name="LinkaPoradi" type="linkaPoradiDN" use="optional"/>
                    <xs:attribute name="OznSegmentu" type="oznSegmentuDN" use="required"/>
                    <xs:attribute name="PojisteniText" type="pojisteniTextDN" use="optional"/>
                    <xs:attribute name="StavBrzd" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="TypBrzd" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="TypVozidla" type="typVozidlaDN" use="optional"/>
                  </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="Trolejbus">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element maxOccurs="1" minOccurs="0" name="Skoda">
                       <xs:complexType>
                         <xs:simpleContent>
                           <xs:extension base="xs:string">
                             <xs:attribute name="Kc" type="castkaKcDN" use="optional"/>
                           </xs:extension>
                         </xs:simpleContent>
                       </xs:complexType>
                      </xs:element>
                      <xs:element maxOccurs="1" minOccurs="0" name="JinaSkoda">
                        <xs:complexType mixed="true">
                          <xs:annotation>
                            <xs:documentation>
                              In the X-definition is declared optional text item (X-definition type name: 'skodaTextDN') as string(%minLength=1,%maxLength=4000)
                            </xs:documentation>
                          </xs:annotation>
                          <xs:attribute name="Kc" type="castkaKcDN" use="optional"/>
                        </xs:complexType>
                      </xs:element>
                      <xs:element maxOccurs="1" minOccurs="0" name="Vlastnik" type="subjektTextDN"/>
                    </xs:sequence>
                    <xs:attribute name="CisloDokladuPojisteni" type="cisloDokladuPojisteniDN" use="optional"/>
                    <xs:attribute name="DruhVozidla" type="druhVozidlaDN" use="required"/>
                    <xs:attribute name="EvidCislo" type="evidCisloDN" use="optional"/>
                    <xs:attribute name="KodPojistitele" type="kodPojistiteleDN" use="optional"/>
                    <xs:attribute name="Linka" type="linkaDN" use="required"/>
                    <xs:attribute name="LinkaPoradi" type="linkaPoradiDN" use="optional"/>
                    <xs:attribute name="OznSegmentu" type="oznSegmentuDN" use="required"/>
                    <xs:attribute name="PojisteniText" type="pojisteniTextDN" use="optional"/>
                    <xs:attribute name="StavBrzd" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="TypBrzd" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="TypVozidla" type="typVozidlaDN" use="optional"/>
                  </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="Vlak">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element maxOccurs="1" minOccurs="0" name="Skoda">
                       <xs:complexType>
                         <xs:simpleContent>
                           <xs:extension base="xs:string">
                             <xs:attribute name="Kc" type="castkaKcDN" use="optional"/>
                           </xs:extension>
                         </xs:simpleContent>
                       </xs:complexType>
                      </xs:element>
                      <xs:element maxOccurs="1" minOccurs="0" name="JinaSkoda">
                        <xs:complexType mixed="true">
                          <xs:annotation>
                            <xs:documentation>
                              In the X-definition is declared optional text item (X-definition type name: 'skodaTextDN') as string(%minLength=1,%maxLength=4000)
                            </xs:documentation>
                          </xs:annotation>
                          <xs:attribute name="Kc" type="castkaKcDN" use="optional"/>
                        </xs:complexType>
                      </xs:element>
                      <xs:element maxOccurs="1" minOccurs="0" name="Vlastnik" type="subjektTextDN"/>
                    </xs:sequence>
                    <xs:attribute name="DruhSoupravy" type="druhSoupravyDN" use="required"/>
                    <xs:attribute name="OznSegmentu" type="oznSegmentuDN" use="required"/>
                    <xs:attribute name="Spoj" type="spojDN" use="optional"/>
                    <xs:attribute name="TypSoupravy" type="typSoupravyDN" use="required"/>
                  </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="Povoz">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element maxOccurs="1" minOccurs="0" name="Skoda">
                       <xs:complexType>
                         <xs:simpleContent>
                           <xs:extension base="xs:string">
                             <xs:attribute name="Kc" type="castkaKcDN" use="optional"/>
                           </xs:extension>
                         </xs:simpleContent>
                       </xs:complexType>
                      </xs:element>
                      <xs:element maxOccurs="1" minOccurs="0" name="JinaSkoda">
                        <xs:complexType mixed="true">
                          <xs:annotation>
                            <xs:documentation>
                              In the X-definition is declared optional text item (X-definition type name: 'skodaTextDN') as string(%minLength=1,%maxLength=4000)
                            </xs:documentation>
                          </xs:annotation>
                          <xs:attribute name="Kc" type="castkaKcDN" use="optional"/>
                        </xs:complexType>
                      </xs:element>
                      <xs:element maxOccurs="1" minOccurs="0" name="Vlastnik" type="subjektTextDN"/>
                    </xs:sequence>
                    <xs:attribute name="DruhPovozu" type="druhPovozuDN" use="required"/>
                    <xs:attribute name="OznSegmentu" type="oznSegmentuDN" use="required"/>
                  </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="Predmet">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element maxOccurs="1" minOccurs="0" name="Skoda">
                       <xs:complexType>
                         <xs:simpleContent>
                           <xs:extension base="xs:string">
                             <xs:attribute name="Kc" type="castkaKcDN" use="optional"/>
                           </xs:extension>
                         </xs:simpleContent>
                       </xs:complexType>
                      </xs:element>
                      <xs:element maxOccurs="1" minOccurs="0" name="Vlastnik" type="subjektTextDN"/>
                    </xs:sequence>
                    <xs:attribute name="DruhPredmetu" type="druhPredmetuDN" use="required"/>
                    <xs:attribute name="NazevPredmetu" type="nazevPredmetuDN" use="required"/>
                    <xs:attribute name="OznSegmentu" type="oznSegmentuDN" use="required"/>
                  </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="Zvire">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element maxOccurs="1" minOccurs="0" name="Skoda">
                       <xs:complexType>
                         <xs:simpleContent>
                           <xs:extension base="xs:string">
                             <xs:attribute name="Kc" type="castkaKcDN" use="optional"/>
                           </xs:extension>
                         </xs:simpleContent>
                       </xs:complexType>
                      </xs:element>
                      <xs:element maxOccurs="1" minOccurs="0" name="Vlastnik" type="subjektTextDN"/>
                    </xs:sequence>
                    <xs:attribute name="DruhZvirete" type="druhZvireteDN" use="required"/>
                    <xs:attribute name="NazevZvirete" type="nazevZvireteDN" use="required"/>
                    <xs:attribute name="OznSegmentu" type="oznSegmentuDN" use="required"/>
                  </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="Ucastnik">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element maxOccurs="1" minOccurs="0" name="JinaSkoda">
                        <xs:complexType mixed="true">
                          <xs:annotation>
                            <xs:documentation>
                              In the X-definition is declared optional text item (X-definition type name: 'skodaTextDN') as string(%minLength=1,%maxLength=4000)
                            </xs:documentation>
                          </xs:annotation>
                          <xs:attribute name="Kc" type="castkaKcDN" use="optional"/>
                        </xs:complexType>
                      </xs:element>
                      <xs:element maxOccurs="1" minOccurs="0" name="Osoba">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element maxOccurs="1" minOccurs="0" name="Pobyt">
                              <xs:complexType>
                                <xs:attribute name="CisloOrientacni" type="cisloDomuDN" use="optional"/>
                                <xs:attribute name="CisloPopisne" type="cisloDomuDN" use="optional"/>
                                <xs:attribute name="Obec" type="obecDN" use="optional"/>
                                <xs:attribute name="Okres" type="okresDN" use="optional"/>
                                <xs:attribute name="PSC" type="pscDN" use="optional"/>
                                <xs:attribute name="Stat" use="optional">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:attribute>
                                <xs:attribute name="Telefon1" type="telefonDN" use="optional"/>
                                <xs:attribute name="Telefon2" type="telefonDN" use="optional"/>
                                <xs:attribute name="Ulice" type="uliceDN" use="optional"/>
                              </xs:complexType>
                            </xs:element>
                            <xs:element maxOccurs="1" minOccurs="0" name="JinyPobyt">
                              <xs:complexType>
                                <xs:attribute name="CisloOrientacni" type="cisloDomuDN" use="optional"/>
                                <xs:attribute name="CisloPopisne" type="cisloDomuDN" use="optional"/>
                                <xs:attribute name="Obec" type="obecDN" use="optional"/>
                                <xs:attribute name="Okres" type="okresDN" use="optional"/>
                                <xs:attribute name="PSC" type="pscDN" use="optional"/>
                                <xs:attribute name="Stat" use="optional">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:attribute>
                                <xs:attribute name="Telefon1" type="telefonDN" use="optional"/>
                                <xs:attribute name="Telefon2" type="telefonDN" use="optional"/>
                                <xs:attribute name="Ulice" type="uliceDN" use="optional"/>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                          <xs:attribute name="DatumNarozeni" type="datumCasDN" use="optional"/>
                          <xs:attribute name="Jmeno" type="jmenoDN" use="optional"/>
                          <xs:attribute name="MistoNarozeni" type="mistoNarozeniDN" use="optional"/>
                          <xs:attribute name="OsobniStav" type="osobniStavDN" use="optional"/>
                          <xs:attribute name="Pohlavi" type="pohlaviDN" use="optional"/>
                          <xs:attribute name="Prijmeni" type="prijmeniDN" use="required"/>
                          <xs:attribute name="Profese" type="profeseDN" use="optional"/>
                          <xs:attribute name="RC" type="rcDN" use="optional"/>
                          <xs:attribute name="RodnePrijmeni" type="prijmeniDN" use="optional"/>
                          <xs:attribute name="StatNarozeni" use="optional">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:attribute>
                          <xs:attribute name="StatniPrislusnost" use="optional">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:attribute>
                          <xs:attribute name="TitulPred" type="osobaTitulDN" use="optional"/>
                          <xs:attribute name="TitulZa" type="osobaTitulDN" use="optional"/>
                        </xs:complexType>
                      </xs:element>
                      <xs:element maxOccurs="1" minOccurs="0" name="Firma">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element maxOccurs="1" minOccurs="0" name="Sidlo">
                              <xs:complexType>
                                <xs:attribute name="CisloOrientacni" type="cisloDomuDN" use="optional"/>
                                <xs:attribute name="CisloPopisne" type="cisloDomuDN" use="optional"/>
                                <xs:attribute name="Obec" type="obecDN" use="optional"/>
                                <xs:attribute name="Okres" type="okresDN" use="optional"/>
                                <xs:attribute name="PSC" type="pscDN" use="optional"/>
                                <xs:attribute name="Stat" use="optional">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:attribute>
                                <xs:attribute name="Telefon1" type="telefonDN" use="optional"/>
                                <xs:attribute name="Telefon2" type="telefonDN" use="optional"/>
                                <xs:attribute name="Ulice" type="uliceDN" use="optional"/>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                          <xs:attribute name="IC" type="icDN" use="optional"/>
                          <xs:attribute name="NazevFirmy" type="nazevFirmyDN" use="required"/>
                        </xs:complexType>
                      </xs:element>
                      <xs:element maxOccurs="unbounded" minOccurs="0" name="Doklad">
                        <xs:complexType>
                          <xs:attribute name="CisloDokladu" type="cisloDokladuDN" use="optional"/>
                          <xs:attribute name="DatumVydani" type="datumCasDN" use="optional"/>
                          <xs:attribute name="MistoVydani" type="mistoVydaniDN" use="optional"/>
                          <xs:attribute name="Opravneni" type="opravneniDN" use="optional"/>
                          <xs:attribute name="StatVydani" use="optional">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:attribute>
                          <xs:attribute name="TypDokladu" type="typDokladuDN" use="required"/>
                        </xs:complexType>
                      </xs:element>
                      <xs:element maxOccurs="1" minOccurs="0" name="PoruseniZakProvoz" type="poruseniTextDN"/>
                      <xs:element maxOccurs="1" minOccurs="0" name="PoruseniZakPrest" type="poruseniTextDN"/>
                      <xs:element maxOccurs="1" minOccurs="0" name="PoruseniZakTrest" type="poruseniTrestDN"/>
                      <xs:element maxOccurs="1" minOccurs="0" name="PoruseniZakOst" type="poruseniTextDN"/>
                      <xs:element maxOccurs="1" minOccurs="0" name="Vazba" type="vazbaDN"/>
                    </xs:sequence>
                    <xs:attribute name="AlkoholDech" type="alkoholDechDN" use="optional"/>
                    <xs:attribute name="AlkoholKrev" type="alkoholKrevDN" use="optional"/>
                    <xs:attribute name="OznSegmentu" type="oznSegmentuDN" use="required"/>
                    <xs:attribute name="PokutaKc" type="pokutaDN" use="optional"/>
                    <xs:attribute name="PokutaZapl" type="pokutaZaplDN" use="optional"/>
                    <xs:attribute name="Pachatel" type="pachatelDN" use="optional"/>
                    <xs:attribute name="Poskozeny" type="poskozenyDN" use="optional"/>
                    <xs:attribute name="PraxeRizeni" type="praxeRizeniDN" use="optional"/>
                    <xs:attribute name="TypUcastnika" type="typUcastnikaDN" use="required"/>
                    <xs:attribute name="ZdravPojistovna" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="Zraneni" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                  </xs:complexType>
                </xs:element>
              </xs:choice>
            </xs:sequence>
            <xs:attribute name="IdentZaznamu" type="msgIdent" use="required"/>
            <xs:attribute name="KrajPolicie" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="PlatnostOd" type="datumCasDN" use="required"/>
            <xs:attribute name="Verze" type="channelTypeVersion" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Davka" type="batchSeq" use="required"/>
      <xs:attribute name="ZeDne" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="cisloDN">
    <xs:annotation>
      <xs:documentation>Created from X-definition num(7)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{7}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cjRelacePolicieDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="50"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="datumCasDN">
    <xs:annotation>
      <xs:documentation>
        Created from X-definition xdatetime(yyyyMMddHHmm[ss]|yyyy-MM-dd[THH:mm[:ss][ZZZZZZ]]|d.M.yyyy[ HH:mm[:ss]]|d.M.yy[ HH:mm[:ss]])
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(-)?\d{4}(0[1-9]|1[0-2])(0[1-9]|[1-2]\d|3[0-1])([0-1]\d|2[0-3])[0-5]\d([0-5]\d)?"/>
      <xs:pattern value="([1-9]|[0-2]\d|3[0-1])\.([1-9]|0[1-9]|1[0-2])\.(-)?\d{4}(\s([0-1]\d|2[0-3]):[0-5]\d(:[0-5]\d)?)?"/>
      <xs:pattern value="([1-9]|[0-2]\d|3[0-1])\.([1-9]|0[1-9]|1[0-2])\.\d{2}(\s([0-1]\d|2[0-3]):[0-5]\d(:[0-5]\d)?)?"/>
      <xs:pattern value="(-)?\d{4}\-(0[1-9]|1[0-2])\-(0[1-9]|[1-2]\d|3[0-1])(T([0-1]\d|2[0-3]):[0-5]\d(:[0-5]\d)?([+-](0\d|1\d|2[0-3]):[0-5]\d)?)?"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="nazevDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="255"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="zpracovatelDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="60"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="rozhodnutiDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="255"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="vyliceniTextDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4000"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="mistoTextDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="255"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="gpsCoordinateDN">
    <xs:annotation>
      <xs:documentation>Created from X-definition dec(14,7)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="-?(\d{0,7})([.,]\d{1,7})?"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="gpsSystemDN">
    <xs:annotation>
      <xs:documentation>Created from X-definition enum(WGS-84,S-JTSK)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="WGS-84"/>
      <xs:enumeration value="S-JTSK"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="castkaKcDN">
    <xs:restriction base="xs:long">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="999999999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cisloDomuDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="obecDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="50"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="uliceDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="50"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="subjektTextDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="255"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cisloDokladuPojisteniDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cisloZKDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="40"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="druhVozidlaDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="30"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="kodPojistiteleDN">
    <xs:annotation>
      <xs:documentation>Created from X-definition num(4)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{4}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="platnostSTKDoDN">
    <xs:annotation>
      <xs:documentation>
        Created from X-definition xdatetime(yyyyMMddHHmm[ss]|yyyy-MM-dd[THH:mm[:ss][ZZZZZZ]]|d.M.yyyy[ HH:mm[:ss]]|d.M.yy[ HH:mm[:ss]]|MM/yyyy)
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(-)?\d{4}(0[1-9]|1[0-2])(0[1-9]|[1-2]\d|3[0-1])([0-1]\d|2[0-3])[0-5]\d([0-5]\d)?"/>
      <xs:pattern value="([1-9]|[0-2]\d|3[0-1])\.([1-9]|0[1-9]|1[0-2])\.(-)?\d{4}(\s([0-1]\d|2[0-3]):[0-5]\d(:[0-5]\d)?)?"/>
      <xs:pattern value="([1-9]|[0-2]\d|3[0-1])\.([1-9]|0[1-9]|1[0-2])\.\d{2}(\s([0-1]\d|2[0-3]):[0-5]\d(:[0-5]\d)?)?"/>
      <xs:pattern value="(-)?\d{4}\-(0[1-9]|1[0-2])\-(0[1-9]|[1-2]\d|3[0-1])(T([0-1]\d|2[0-3]):[0-5]\d(:[0-5]\d)?([+-](0\d|1\d|2[0-3]):[0-5]\d)?)?"/>
      <xs:pattern value="(0[1-9]|1[0-2])/(-)?\d{4}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="mpzDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="oznSegmentuDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="platnostSTKDN">
    <xs:annotation>
      <xs:documentation>Created from X-definition enum(platná,neplatná,nezjištěno)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="nezjištěno"/>
      <xs:enumeration value="neplatná"/>
      <xs:enumeration value="platná"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="pojisteniTextDN">
    <xs:annotation>
      <xs:documentation>
        Created from X-definition enum(Doklad o pojištění nepředložen,Potvrzení nepředloženo,Nepodléhá pojištění,Smlouva neuzavřena)
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Doklad o pojištění nepředložen"/>
      <xs:enumeration value="Potvrzení nepředloženo"/>
      <xs:enumeration value="Nepodléhá pojištění"/>
      <xs:enumeration value="Smlouva neuzavřena"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="pojistneHPDN">
    <xs:restriction base="xs:long">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="99999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="spzDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typVozidlaDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="50"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="vinDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="26"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="vydalZKDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="255"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="znackaVozidlaDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="30"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="evidCisloDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="linkaDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="linkaPoradiDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="druhSoupravyDN">
    <xs:annotation>
      <xs:documentation>Created from X-definition enum(vlak)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="vlak"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="spojDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="50"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typSoupravyDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="40"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="druhPovozuDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="30"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="druhPredmetuDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="255"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="nazevPredmetuDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="255"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="druhZvireteDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="255"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="nazevZvireteDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="255"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="okresDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="36"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="pscDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="telefonDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="28"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="jmenoDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="36"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="mistoNarozeniDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="60"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="osobniStavDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="30"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="pohlaviDN">
    <xs:annotation>
      <xs:documentation>Created from X-definition enum(M,Ž)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="M"/>
      <xs:enumeration value="Ž"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="prijmeniDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="36"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="profeseDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="50"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="rcDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="12"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="osobaTitulDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="36"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="icDN">
    <xs:annotation>
      <xs:documentation>Created from X-definition num(1,12)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{1,12}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="nazevFirmyDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="100"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cisloDokladuDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="36"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="mistoVydaniDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="50"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="opravneniDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="60"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typDokladuDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="60"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="poruseniTextDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="400"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="poruseniTrestDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="600"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="vazbaDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="400"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="alkoholDechDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="18"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="alkoholKrevDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="11"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="pokutaDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="7"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="pokutaZaplDN">
    <xs:annotation>
      <xs:documentation>Created from X-definition enum(nezaplacena,zaplacena)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="nezaplacena"/>
      <xs:enumeration value="zaplacena"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="pachatelDN">
    <xs:annotation>
      <xs:documentation>Created from X-definition enum(Pachatel DN)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Pachatel DN"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="poskozenyDN">
    <xs:annotation>
      <xs:documentation>Created from X-definition enum(Poškozený)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Poškozený"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="praxeRizeniDN">
    <xs:restriction base="xs:long">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="99"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typUcastnikaDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="40"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="msgIdent">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="19"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="channelTypeVersion">
    <xs:restriction base="xs:string">
      <xs:minLength value="7"/>
      <xs:maxLength value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="batchSeq">
    <xs:restriction base="xs:long">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="99999999"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>