xdef/src/test/java/mytests/X/X01c.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           attributeFormDefault="unqualified"
           elementFormDefault="qualified">
  <xs:element name="X" >
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="a"/>
      </xs:simpleContent>
    </xs:complexType>      
  </xs:element>
  <xs:simpleType name="a" >
    <xs:restriction base="b" />
  </xs:simpleType>
  <xs:simpleType name="b" >
    <xs:restriction base="xs:int" >
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="1000" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
