xdef/src/test/java/mytests/X/X04.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="X">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element name="B" type="xs:int"/>
        <xs:element name="C"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>