xdef/src/test/java/mytests/X/X07.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="X">
    <xs:complexType mixed="true">
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element type="xs:string" name="B"/>
        <xs:element type="xs:string" name="C"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
</xs:schema>