xdef/src/test/java/mytests/X/X09.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="X">
    <xs:complexType mixed="true" >
      <xs:all minOccurs="0" >
        <xs:element type="xs:string" name="B" minOccurs="0" maxOccurs="1" />
        <xs:element type="xs:string" name="C" minOccurs="0" maxOccurs="1" />
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>