xdef/src/test/java/mytests/X/X10.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="X">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element type="xs:string" name="A" />
        <xs:element type="xs:string" name="B" />
      </xs:choice>
      <xs:attribute type="xs:byte" name="x" />
    </xs:complexType>
  </xs:element>
</xs:schema>