xdef/src/test/java/mytests/X/X11a.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
 xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="a.b" schemaLocation="X11_01.xsd"/>
  <xs:element name="X">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element ref="A"/>
        <xs:element xmlns:x="a.b" ref="x:B"/>
      </xs:choice>
      <xs:attribute type="xs:byte" name="x"/>
    </xs:complexType>
  </xs:element>
  <xs:element type="xs:string" name="A"/>
  <xs:simpleType name= "x">
	<restriction base="xs:string" xmlns="http://www.w3.org/2001/XMLSchema"/>
  </xs:simpleType>
  <xs:simpleType name= "y">
	<restriction base="xs:byte" xmlns="http://www.w3.org/2001/XMLSchema"/>
  </xs:simpleType>
  <xs:simpleType name= "z">
	<restriction base="xs:string" xmlns="http://www.w3.org/2001/XMLSchema"/>
  </xs:simpleType>
</xs:schema>