xdef/src/test/java/mytests/X/X16.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="a">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="b" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="x">
                <xs:attribute type="xs:string" name="a"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="x">
      <xs:union>
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="1" />
            <xs:maxInclusive value="1000" />
          </xs:restriction>
        </xs:simpleType>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <!-- Toto je COKOLIV: 
            <xs:pattern value="([^ ]|[ ])*" />-->
            <!-- This is blank text node (used inststead of use=optional) -->
            <xs:pattern value="\s*" />
          </xs:restriction>
        </xs:simpleType>
      </xs:union>
  </xs:simpleType>
  <xs:simpleType name="_">
    <xs:restriction base="xs:string">
      <xs:pattern value="([^ ]|[ ])*" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>