xdef/src/test/java/mytests/X/X16_1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="a">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="b" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="a">
                <xs:attribute type="xs:string" name="a" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="a">
      <xs:union>
        <xs:simpleType>
          <xs:restriction base="xs:int"/>
        </xs:simpleType>
        <xs:simpleType>
          <xs:restriction base="_EmptyText_"/>
        </xs:simpleType>
      </xs:union>
  </xs:simpleType>

  <xs:simpleType name="x">
    <xs:restriction base="xs:int"/>
  </xs:simpleType>
 
  <xs:simpleType name="_EmptyText_">
    <xs:restriction base="xs:string">
       <xs:pattern value="\s*" />
    </xs:restriction>
  </xs:simpleType>  

</xs:schema>