xdef/src/test/java/mytests/D1A/_XN_1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
  xmlns="$_types_$"
  targetNamespace="$_types_$"
  xmlns:xs="http://www.w3.org/2001/XMLSchema" >
  <xs:simpleType name="cisloDN_1">
    <xs:annotation>
      <xs:documentation>Reference to simpleType "cisloDN"</xs:documentation>
    </xs:annotation>
    <xs:restriction base="cisloDN"/>
  </xs:simpleType>  
    
  <xs:simpleType name="cisloDN">
    <xs:annotation>
      <xs:documentation>Created from X-definition num(7)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{7}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cjRelacePolicieDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="50"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="datumCasDN">
    <xs:annotation>
      <xs:documentation>
        Created from X-definition xdatetime(yyyyMMddHHmm[ss]|yyyy-MM-dd[THH:mm[:ss][ZZZZZZ]]|d.M.yyyy[ HH:mm[:ss]]|d.M.yy[ HH:mm[:ss]])
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(-)?\d{4}(0[1-9]|1[0-2])(0[1-9]|[1-2]\d|3[0-1])([0-1]\d|2[0-3])[0-5]\d([0-5]\d)?"/>
      <xs:pattern value="([1-9]|[0-2]\d|3[0-1])\.([1-9]|0[1-9]|1[0-2])\.(-)?\d{4}(\s([0-1]\d|2[0-3]):[0-5]\d(:[0-5]\d)?)?"/>
      <xs:pattern value="([1-9]|[0-2]\d|3[0-1])\.([1-9]|0[1-9]|1[0-2])\.\d{2}(\s([0-1]\d|2[0-3]):[0-5]\d(:[0-5]\d)?)?"/>
      <xs:pattern value="(-)?\d{4}\-(0[1-9]|1[0-2])\-(0[1-9]|[1-2]\d|3[0-1])(T([0-1]\d|2[0-3]):[0-5]\d(:[0-5]\d)?([+-](0\d|1\d|2[0-3]):[0-5]\d)?)?"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="nazevDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="255"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="zpracovatelDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="60"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="rozhodnutiDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="255"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="vyliceniTextDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4000"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="mistoTextDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="255"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="gpsCoordinateDN">
    <xs:annotation>
      <xs:documentation>Created from X-definition dec(14,7)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="-?(\d{0,7})([.,]\d{1,7})?"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="gpsSystemDN">
    <xs:annotation>
      <xs:documentation>Created from X-definition enum(WGS-84,S-JTSK)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="WGS-84"/>
      <xs:enumeration value="S-JTSK"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="castkaKcDN">
    <xs:restriction base="xs:long">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="999999999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cisloDomuDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="obecDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="50"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="uliceDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="50"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="skodaTextDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4000"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="skodaTextDN_Skoda">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="skodaTextDN"/>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="\s*"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="_JinaSkoda">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="skodaTextDN"/>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="\s*"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="subjektTextDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="255"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cisloDokladuPojisteniDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cisloZKDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="40"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="druhVozidlaDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="30"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="kodPojistiteleDN">
    <xs:annotation>
      <xs:documentation>Created from X-definition num(4)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{4}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="platnostSTKDoDN">
    <xs:annotation>
      <xs:documentation>
        Created from X-definition xdatetime(yyyyMMddHHmm[ss]|yyyy-MM-dd[THH:mm[:ss][ZZZZZZ]]|d.M.yyyy[ HH:mm[:ss]]|d.M.yy[ HH:mm[:ss]]|MM/yyyy)
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(-)?\d{4}(0[1-9]|1[0-2])(0[1-9]|[1-2]\d|3[0-1])([0-1]\d|2[0-3])[0-5]\d([0-5]\d)?"/>
      <xs:pattern value="([1-9]|[0-2]\d|3[0-1])\.([1-9]|0[1-9]|1[0-2])\.(-)?\d{4}(\s([0-1]\d|2[0-3]):[0-5]\d(:[0-5]\d)?)?"/>
      <xs:pattern value="([1-9]|[0-2]\d|3[0-1])\.([1-9]|0[1-9]|1[0-2])\.\d{2}(\s([0-1]\d|2[0-3]):[0-5]\d(:[0-5]\d)?)?"/>
      <xs:pattern value="(-)?\d{4}\-(0[1-9]|1[0-2])\-(0[1-9]|[1-2]\d|3[0-1])(T([0-1]\d|2[0-3]):[0-5]\d(:[0-5]\d)?([+-](0\d|1\d|2[0-3]):[0-5]\d)?)?"/>
      <xs:pattern value="(0[1-9]|1[0-2])/(-)?\d{4}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="mpzDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="oznSegmentuDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="platnostSTKDN">
    <xs:annotation>
      <xs:documentation>Created from X-definition enum(platná,neplatná,nezjištěno)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="nezjištěno"/>
      <xs:enumeration value="neplatná"/>
      <xs:enumeration value="platná"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="pojisteniTextDN">
    <xs:annotation>
      <xs:documentation>
        Created from X-definition enum(Doklad o pojištění nepředložen,Potvrzení nepředloženo,Nepodléhá pojištění,Smlouva neuzavřena)
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Doklad o pojištění nepředložen"/>
      <xs:enumeration value="Potvrzení nepředloženo"/>
      <xs:enumeration value="Nepodléhá pojištění"/>
      <xs:enumeration value="Smlouva neuzavřena"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="pojistneHPDN">
    <xs:restriction base="xs:long">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="99999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="spzDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typVozidlaDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="50"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="vinDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="26"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="vydalZKDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="255"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="znackaVozidlaDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="30"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="_Skoda">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="skodaTextDN"/>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="\s*"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="evidCisloDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="linkaDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="linkaPoradiDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="druhSoupravyDN">
    <xs:annotation>
      <xs:documentation>Created from X-definition enum(vlak)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="vlak"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="spojDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="50"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typSoupravyDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="40"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="druhPovozuDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="30"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="druhPredmetuDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="255"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="nazevPredmetuDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="255"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="druhZvireteDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="255"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="nazevZvireteDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="255"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="okresDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="36"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="pscDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="telefonDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="28"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="jmenoDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="36"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="mistoNarozeniDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="60"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="osobniStavDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="30"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="pohlaviDN">
    <xs:annotation>
      <xs:documentation>Created from X-definition enum(M,Ž)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="M"/>
      <xs:enumeration value="Ž"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="prijmeniDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="36"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="profeseDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="50"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="rcDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="12"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="osobaTitulDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="36"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="icDN">
    <xs:annotation>
      <xs:documentation>Created from X-definition num(1,12)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{1,12}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="nazevFirmyDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="100"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cisloDokladuDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="36"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="mistoVydaniDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="50"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="opravneniDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="60"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typDokladuDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="60"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="poruseniTextDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="400"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="poruseniTrestDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="600"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="vazbaDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="400"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="alkoholDechDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="18"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="alkoholKrevDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="11"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="pokutaDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="7"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="pokutaZaplDN">
    <xs:annotation>
      <xs:documentation>Created from X-definition enum(nezaplacena,zaplacena)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="nezaplacena"/>
      <xs:enumeration value="zaplacena"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="pachatelDN">
    <xs:annotation>
      <xs:documentation>Created from X-definition enum(Pachatel DN)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Pachatel DN"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="poskozenyDN">
    <xs:annotation>
      <xs:documentation>Created from X-definition enum(Poškozený)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Poškozený"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="praxeRizeniDN">
    <xs:restriction base="xs:long">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="99"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typUcastnikaDN">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="40"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="msgIdent">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="19"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="channelTypeVersion">
    <xs:restriction base="xs:string">
      <xs:minLength value="7"/>
      <xs:maxLength value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="batchSeq">
    <xs:restriction base="xs:long">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="99999999"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>