xdef/src/test/java/mytests/xsd/_XA$types.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="$_types_$" xmlns="$_types_$"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="a">
    <xs:restriction base="xs:NCName"/>
  </xs:simpleType>
  <xs:simpleType name="Ab_v">
    <xs:restriction base="a"/>
  </xs:simpleType>
  <xs:simpleType name="Ab_x">
    <xs:restriction base="a"/>
  </xs:simpleType>
  <xs:simpleType name="Ab_w">
    <xs:restriction base="xs:string">
      <xs:minLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Ab_z">
    <xs:restriction base="Ab_w"/>
  </xs:simpleType>
</xs:schema>