xdef/src/test/java/mytests/xsd/_XA.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!--Definition of simple types-->
  <!--=====================================================-->
  <xs:simpleType name="_XA_a_Type">
    <xs:restriction base="xs:NCName"/>
  </xs:simpleType>
  <xs:simpleType name="v_Type">
    <xs:restriction base="xs:NCName"/>
  </xs:simpleType>
  <xs:simpleType name="w_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="x_Type">
    <xs:restriction base="xs:NCName"/>
  </xs:simpleType>
  <!--Element Body structures-->
  <!--=====================================================-->
  <xs:element name="A" type="A_Type"/>
  <!--Partial substantive structures-->
  <!--=====================================================-->
  <xs:complexType mixed="true" name="A_Type">
    <xs:sequence/>
    <xs:attribute name="a" type="xs:NCName" use="optional"/>
    <xs:attribute name="v" type="xs:NCName" use="optional"/>
    <xs:attribute name="x" type="xs:NCName" use="optional"/>
    <xs:attribute name="w" type="w_Type" use="optional"/>
  </xs:complexType>
</xs:schema>