xdef/src/test/java/mytests/xsd/_XB.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!--Definition of simple types-->
  <!--=====================================================-->
  <xs:simpleType name="A_c_Type">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="x_Type">
    <xs:restriction base="xs:NCName"/>
  </xs:simpleType>
  <xs:simpleType name="z_Type">
    <xs:restriction base="xs:string">
      <xs:length value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <!--Element Body structures-->
  <!--=====================================================-->
  <xs:element name="A" type="A_Type"/>
  <!--Partial substantive structures-->
  <!--=====================================================-->
  <xs:complexType mixed="true" name="A_B_Type">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="A_Type">
    <xs:sequence>
      <xs:element name="B" type="A_B_Type"/>
    </xs:sequence>
    <xs:attribute name="a" type="xs:NCName" use="required"/>
    <xs:attribute name="b" type="z_Type" use="optional"/>
    <xs:attribute name="c" type="A_c_Type" use="required"/>
    <xs:attribute name="d" type="xs:date" use="optional"/>
  </xs:complexType>
</xs:schema>