xdef/src/test/java/mytests/xsd/_XC.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!--Definition of simple types-->
  <!--=====================================================-->
  <xs:simpleType name="A_c_Type">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="_XC_x_Type">
    <xs:annotation>
      <xs:documentation>Created from X-definition enum(abc,123)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="abc"/>
      <xs:enumeration value="123"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="_XC_z_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <!--Element Body structures-->
  <!--=====================================================-->
  <xs:element name="A" type="A_Type"/>
  <!--Partial substantive structures-->
  <!--=====================================================-->
  <xs:complexType name="A_B_Type"/>
  <xs:complexType mixed="true" name="A_C_Type">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="A_Type">
    <xs:sequence>
      <xs:element name="B"/>
      <xs:element name="C" type="A_C_Type"/>
    </xs:sequence>
    <xs:attribute name="a" type="_XC_x_Type" use="required"/>
    <xs:attribute name="b" type="_XC_z_Type" use="optional"/>
    <xs:attribute name="c" type="A_c_Type" use="required"/>
    <xs:attribute name="d" type="xs:date" use="optional"/>
  </xs:complexType>
</xs:schema>