xdef/src/test/java/mytests/xsd/_XE.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!--Element Body structures-->
  <!--=====================================================-->
  <xs:element name="A" type="A_Type"/>
  <!--Partial substantive structures-->
  <!--=====================================================-->
  <xs:complexType name="A_Type">
    <xs:sequence>
      <xs:choice maxOccurs="3" minOccurs="1">
        <xs:element maxOccurs="1" minOccurs="0" name="B"/>
        <xs:element maxOccurs="2" minOccurs="2" name="C"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="A_mixed_B_Type"/>
  <xs:complexType name="A_mixed_C_Type"/>
</xs:schema>