xdef/src/test/java/mytests/xsd/_XH.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!--Definition of simple types-->
  <!--=====================================================-->
  <xs:simpleType name="A_mixed_Test1_text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="10"/>
      <xs:pattern value="[A-Z][a-z]*"/>
      <xs:pattern value="[A-Z]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="A_mixed_Test2_text">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:int">
          <xs:minInclusive value="1"/>
          <xs:maxInclusive value="10"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:simpleType name="A_mixed_Test3_text">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:int">
          <xs:minInclusive value="1"/>
          <xs:maxInclusive value="10"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:simpleType name="A_mixed_Test4_text">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:int">
          <xs:minInclusive value="1"/>
          <xs:maxInclusive value="10"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="A"/>
          <xs:enumeration value="B"/>
          <xs:enumeration value="C"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <!--Element Body structures-->
  <!--=====================================================-->
  <xs:element name="A" type="A_Type"/>
  <!--Partial substantive structures-->
  <!--=====================================================-->
  <xs:complexType name="A_Type">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element maxOccurs="unbounded" minOccurs="0" name="Test1" type="A_mixed_Test1_text"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="Test2" type="A_mixed_Test2_text"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="Test3" type="A_mixed_Test3_text"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="Test4" type="A_mixed_Test4_text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
</xs:schema>