xdef/src/test/java/mytests/xsd/_XI.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!--Definition of simple types-->
  <!--=====================================================-->
  <xs:simpleType name="A_item_price_text">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="A_item_quantity_text">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="A_item_title_text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="1000"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="A_orderid_Type">
    <xs:annotation>
      <xs:documentation>Created from X-definition num(2,10)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{2,10}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="A_orderperson_text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="100"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="A_shipto_address_text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="100"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="A_shipto_city_text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="80"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="A_shipto_country_text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="80"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="A_shipto_name_text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="100"/>
    </xs:restriction>
  </xs:simpleType>
  <!--Element Body structures-->
  <!--=====================================================-->
  <xs:element name="A" type="A_Type"/>
  <!--Partial substantive structures-->
  <!--=====================================================-->
  <xs:complexType name="A_Type">
    <xs:sequence>
      <xs:element name="orderperson" type="A_orderperson_text"/>
      <xs:element name="shipto" type="A_shipto_Type"/>
      <xs:element maxOccurs="unbounded" minOccurs="1" name="item" type="A_item_Type"/>
    </xs:sequence>
    <xs:attribute name="orderid" type="A_orderid_Type" use="required"/>
  </xs:complexType>
  <xs:complexType name="A_item_Type">
    <xs:sequence>
      <xs:element name="title" type="A_item_title_text"/>
      <xs:element maxOccurs="1" minOccurs="0" name="note" type="A_item_note_Type"/>
      <xs:element name="quantity" type="A_item_quantity_text"/>
      <xs:element name="price" type="A_item_price_text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType mixed="true" name="A_item_note_Type">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="A_shipto_Type">
    <xs:sequence>
      <xs:element name="name" type="A_shipto_name_text"/>
      <xs:element name="address" type="A_shipto_address_text"/>
      <xs:element name="city" type="A_shipto_city_text"/>
      <xs:element name="country" type="A_shipto_country_text"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>