xdef/src/test/java/mytests/xsd/_XL.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!--Definition of simple types-->
  <!--=====================================================-->
  <xs:simpleType name="C_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <!--Element Body structures-->
  <!--=====================================================-->
  <xs:element name="A" type="A_Type"/>
  <!--Partial substantive structures-->
  <!--=====================================================-->
  <xs:complexType name="A_Type">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="B" type="C_Type"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>