xdef/src/test/java/mytests/xsd/_XM.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns="$_types_$"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="$_types_$" schemaLocation="_XMTypeDeclaration.xsd"/>
  <!--Definition of simple types-->
  <!--=====================================================-->
  <xs:simpleType name="GAM_type_xsDateTimeVR_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <!--Element Body structures-->
  <!--=====================================================-->
  <xs:element name="SouborP1A" type="SouborP1A"/>
  <!--Partial substantive structures-->
  <!--=====================================================-->
  <xs:complexType name="Soubor">
    <xs:attribute name="Davka" type="GAM_type_batchSeq_Type" use="required"/>
    <xs:attribute name="ZeDne" type="GAM_type_xsDateTimeVR_Type" use="required"/>
  </xs:complexType>
  <xs:complexType name="SouborP1A">
    <xs:complexContent>
      <xs:extension base="Soubor"/>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>