xdef/src/test/java/mytests/xsd/_XN.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns="$_types_$"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="$_types_$" schemaLocation="_XNTypes.xsd"/>
  <!--Definition of simple types-->
  <!--=====================================================-->
  <xs:simpleType name="DN_type_hlavniPricinaDN_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DN_type_kodKrajePolicie_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DN_type_kodOkresu_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DN_type_kodPricinyDN_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DN_type_kodRizikovehoFaktoruDN_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DN_type_kodUtvaruPolicie_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DN_type_kodZdravPojistovnyDN_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DN_type_rokDN_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DN_type_statPrevodDN_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DN_type_stavBrzdPopisDN_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DN_type_typBrzdPopisDN_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DN_type_zraneniDN_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="GAM_type_xsDateTimeVR_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ObjStrankaDN_Misto_text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="255"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PovozDN_Vlastnik_text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="255"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PredmetDN_Vlastnik_text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="255"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TramvajDN_Vlastnik_text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="255"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TrolejbusDN_Vlastnik_text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="255"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="UcastnikDN_PoruseniZakOst_text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="400"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="UcastnikDN_PoruseniZakPrest_text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="400"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="UcastnikDN_PoruseniZakProvoz_text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="400"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="UcastnikDN_PoruseniZakTrest_text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="600"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="UcastnikDN_Vazba_text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="400"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VlakDN_Vlastnik_text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="255"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VozidloDN_Drzitel_text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="255"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ZaznamPDN_mixed_Vyliceni_text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4000"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ZvireDN_Vlastnik_text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="255"/>
    </xs:restriction>
  </xs:simpleType>
  <!--Element Body structures-->
  <!--=====================================================-->
  <xs:element name="SouborD1A" type="SouborD1A"/>
  <!--Partial substantive structures-->
  <!--=====================================================-->
  <xs:complexType name="Adresa">
    <xs:attribute name="CisloOrientacni" type="DN_type_cisloDomuDN_Type" use="optional"/>
    <xs:attribute name="CisloPopisne" type="DN_type_cisloDomuDN_Type" use="optional"/>
    <xs:attribute name="Obec" type="DN_type_obecDN_Type" use="optional"/>
    <xs:attribute name="Okres" type="DN_type_okresDN_Type" use="optional"/>
    <xs:attribute name="PSC" type="DN_type_pscDN_Type" use="optional"/>
    <xs:attribute name="Stat" type="DN_type_statPrevodDN_Type" use="optional"/>
    <xs:attribute name="Telefon1" type="DN_type_telefonDN_Type" use="optional"/>
    <xs:attribute name="Telefon2" type="DN_type_telefonDN_Type" use="optional"/>
    <xs:attribute name="Ulice" type="DN_type_uliceDN_Type" use="optional"/>
  </xs:complexType>
  <xs:complexType name="Doklad">
    <xs:attribute name="CisloDokladu" type="DN_type_cisloDokladuDN_Type" use="optional"/>
    <xs:attribute name="DatumVydani" type="DN_type_datumCasDN_Type" use="optional"/>
    <xs:attribute name="MistoVydani" type="DN_type_mistoVydaniDN_Type" use="optional"/>
    <xs:attribute name="Opravneni" type="DN_type_opravneniDN_Type" use="optional"/>
    <xs:attribute name="StatVydani" type="DN_type_statPrevodDN_Type" use="optional"/>
    <xs:attribute name="TypDokladu" type="DN_type_typDokladuDN_Type" use="required"/>
  </xs:complexType>
  <xs:complexType name="Firma">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="Sidlo" type="Adresa"/>
    </xs:sequence>
    <xs:attribute name="IC" type="DN_type_icDN_Type" use="optional"/>
    <xs:attribute name="NazevFirmy" type="DN_type_nazevFirmyDN_Type" use="required"/>
  </xs:complexType>
  <xs:complexType name="ObjStrankaDN">
    <xs:sequence>
      <xs:element name="Misto" type="ObjStrankaDN_Misto_text"/>
      <xs:element maxOccurs="2" minOccurs="0" name="GPS" type="ObjStrankaDN_GPS_Type"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="RizikovyFaktor" type="ObjStrankaDN_RizikovyFaktor_Type"/>
    </xs:sequence>
    <xs:attribute name="CelkovaSkodaKc" type="DN_type_castkaKcDN_Type" use="optional"/>
    <xs:attribute name="CisloPopisne" type="DN_type_cisloDomuDN_Type" use="optional"/>
    <xs:attribute name="DatumCasDN" type="DN_type_datumCasDN_Type" use="required"/>
    <xs:attribute name="DatumCasDoDN" type="DN_type_datumCasDN_Type" use="optional"/>
    <xs:attribute name="HlavniPricina" type="DN_type_hlavniPricinaDN_Type" use="optional"/>
    <xs:attribute name="KodOkresu" type="DN_type_kodOkresu_Type" use="required"/>
    <xs:attribute name="Obec" type="DN_type_obecDN_Type" use="optional"/>
    <xs:attribute name="Pricina" type="DN_type_kodPricinyDN_Type" use="optional"/>
    <xs:attribute name="Ulice" type="DN_type_uliceDN_Type" use="optional"/>
  </xs:complexType>
  <xs:complexType name="ObjStrankaDN_GPS_Type">
    <xs:attribute name="Delka" type="DN_type_gpsCoordinateDN_Type" use="required"/>
    <xs:attribute name="Sirka" type="DN_type_gpsCoordinateDN_Type" use="required"/>
    <xs:attribute name="System" type="DN_type_gpsSystemDN_Type" use="required"/>
  </xs:complexType>
  <xs:complexType name="ObjStrankaDN_RizikovyFaktor_Type">
    <xs:attribute name="KodFaktoru" type="DN_type_kodRizikovehoFaktoruDN_Type" use="required"/>
  </xs:complexType>
  <xs:complexType name="Osoba">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="Pobyt" type="Adresa"/>
      <xs:element maxOccurs="1" minOccurs="0" name="JinyPobyt" type="Adresa"/>
    </xs:sequence>
    <xs:attribute name="DatumNarozeni" type="DN_type_datumCasDN_Type" use="optional"/>
    <xs:attribute name="Jmeno" type="DN_type_jmenoDN_Type" use="optional"/>
    <xs:attribute name="MistoNarozeni" type="DN_type_mistoNarozeniDN_Type" use="optional"/>
    <xs:attribute name="OsobniStav" type="DN_type_osobniStavDN_Type" use="optional"/>
    <xs:attribute name="Pohlavi" type="DN_type_pohlaviDN_Type" use="optional"/>
    <xs:attribute name="Prijmeni" type="DN_type_prijmeniDN_Type" use="required"/>
    <xs:attribute name="Profese" type="DN_type_profeseDN_Type" use="optional"/>
    <xs:attribute name="RC" type="DN_type_rcDN_Type" use="optional"/>
    <xs:attribute name="RodnePrijmeni" type="DN_type_prijmeniDN_Type" use="optional"/>
    <xs:attribute name="StatNarozeni" type="DN_type_statPrevodDN_Type" use="optional"/>
    <xs:attribute name="StatniPrislusnost" type="DN_type_statPrevodDN_Type" use="optional"/>
    <xs:attribute name="TitulPred" type="DN_type_osobaTitulDN_Type" use="optional"/>
    <xs:attribute name="TitulZa" type="DN_type_osobaTitulDN_Type" use="optional"/>
  </xs:complexType>
  <xs:complexType name="PovozDN">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="Skoda" type="Skoda"/>
      <xs:element maxOccurs="1" minOccurs="0" name="JinaSkoda" type="Skoda"/>
      <xs:element maxOccurs="1" minOccurs="0" name="Vlastnik" type="PovozDN_Vlastnik_text"/>
    </xs:sequence>
    <xs:attribute name="DruhPovozu" type="DN_type_druhPovozuDN_Type" use="required"/>
    <xs:attribute name="OznSegmentu" type="DN_type_oznSegmentuDN_Type" use="required"/>
  </xs:complexType>
  <xs:complexType name="PredmetDN">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="Skoda" type="Skoda"/>
      <xs:element maxOccurs="1" minOccurs="0" name="Vlastnik" type="PredmetDN_Vlastnik_text"/>
    </xs:sequence>
    <xs:attribute name="DruhPredmetu" type="DN_type_druhPredmetuDN_Type" use="required"/>
    <xs:attribute name="NazevPredmetu" type="DN_type_nazevPredmetuDN_Type" use="required"/>
    <xs:attribute name="OznSegmentu" type="DN_type_oznSegmentuDN_Type" use="required"/>
  </xs:complexType>
  <xs:complexType name="ProtokolDN">
    <xs:attribute name="CisloDN" type="DN_type_cisloDN_Type" use="required"/>
    <xs:attribute name="CJ" type="DN_type_cjRelacePolicieDN_Type" use="required"/>
    <xs:attribute name="DatumCasOznameni" type="DN_type_datumCasDN_Type" use="required"/>
    <xs:attribute name="KodUtvaruPolicie" type="DN_type_kodUtvaruPolicie_Type" use="required"/>
    <xs:attribute name="NazevDN" type="DN_type_nazevDN_Type" use="required"/>
    <xs:attribute name="RokDN" type="DN_type_rokDN_Type" use="required"/>
    <xs:attribute name="Zpracovatel" type="DN_type_zpracovatelDN_Type" use="required"/>
  </xs:complexType>
  <xs:complexType mixed="true" name="RozhodnutiDN">
    <xs:attribute name="DatumRozhodnuti" type="DN_type_datumCasDN_Type" use="optional"/>
  </xs:complexType>
  <xs:complexType mixed="true" name="Skoda">
    <xs:attribute name="Kc" type="DN_type_castkaKcDN_Type" use="optional"/>
  </xs:complexType>
  <xs:complexType name="Soubor">
    <xs:attribute name="Davka" type="GAM_type_batchSeq_Type" use="required"/>
    <xs:attribute name="ZeDne" type="GAM_type_xsDateTimeVR_Type" use="required"/>
  </xs:complexType>
  <xs:complexType name="SouborD1A">
    <xs:complexContent>
      <xs:extension base="Soubor">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ZaznamPDN" type="ZaznamPDN"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TramvajDN">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="Skoda" type="Skoda"/>
      <xs:element maxOccurs="1" minOccurs="0" name="JinaSkoda" type="Skoda"/>
      <xs:element maxOccurs="1" minOccurs="0" name="Vlastnik" type="TramvajDN_Vlastnik_text"/>
    </xs:sequence>
    <xs:attribute name="CisloDokladuPojisteni" type="DN_type_cisloDokladuPojisteniDN_Type" use="optional"/>
    <xs:attribute name="DruhVozidla" type="DN_type_druhVozidlaDN_Type" use="required"/>
    <xs:attribute name="EvidCislo" type="DN_type_evidCisloDN_Type" use="optional"/>
    <xs:attribute name="KodPojistitele" type="DN_type_kodPojistiteleDN_Type" use="optional"/>
    <xs:attribute name="Linka" type="DN_type_linkaDN_Type" use="required"/>
    <xs:attribute name="LinkaPoradi" type="DN_type_linkaPoradiDN_Type" use="optional"/>
    <xs:attribute name="OznSegmentu" type="DN_type_oznSegmentuDN_Type" use="required"/>
    <xs:attribute name="PojisteniText" type="DN_type_pojisteniTextDN_Type" use="optional"/>
    <xs:attribute name="StavBrzd" type="DN_type_stavBrzdPopisDN_Type" use="optional"/>
    <xs:attribute name="TypBrzd" type="DN_type_typBrzdPopisDN_Type" use="optional"/>
    <xs:attribute name="TypVozidla" type="DN_type_typVozidlaDN_Type" use="optional"/>
  </xs:complexType>
  <xs:complexType name="TrolejbusDN">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="Skoda" type="Skoda"/>
      <xs:element maxOccurs="1" minOccurs="0" name="JinaSkoda" type="Skoda"/>
      <xs:element maxOccurs="1" minOccurs="0" name="Vlastnik" type="TrolejbusDN_Vlastnik_text"/>
    </xs:sequence>
    <xs:attribute name="CisloDokladuPojisteni" type="DN_type_cisloDokladuPojisteniDN_Type" use="optional"/>
    <xs:attribute name="DruhVozidla" type="DN_type_druhVozidlaDN_Type" use="required"/>
    <xs:attribute name="EvidCislo" type="DN_type_evidCisloDN_Type" use="optional"/>
    <xs:attribute name="KodPojistitele" type="DN_type_kodPojistiteleDN_Type" use="optional"/>
    <xs:attribute name="Linka" type="DN_type_linkaDN_Type" use="required"/>
    <xs:attribute name="LinkaPoradi" type="DN_type_linkaPoradiDN_Type" use="optional"/>
    <xs:attribute name="OznSegmentu" type="DN_type_oznSegmentuDN_Type" use="required"/>
    <xs:attribute name="PojisteniText" type="DN_type_pojisteniTextDN_Type" use="optional"/>
    <xs:attribute name="StavBrzd" type="DN_type_stavBrzdPopisDN_Type" use="optional"/>
    <xs:attribute name="TypBrzd" type="DN_type_typBrzdPopisDN_Type" use="optional"/>
    <xs:attribute name="TypVozidla" type="DN_type_typVozidlaDN_Type" use="optional"/>
  </xs:complexType>
  <xs:complexType name="UcastnikDN">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="JinaSkoda" type="Skoda"/>
      <xs:element maxOccurs="1" minOccurs="0" name="Osoba" type="Osoba"/>
      <xs:element maxOccurs="1" minOccurs="0" name="Firma" type="Firma"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Doklad" type="Doklad"/>
      <xs:element maxOccurs="1" minOccurs="0" name="PoruseniZakProvoz" type="UcastnikDN_PoruseniZakProvoz_text"/>
      <xs:element maxOccurs="1" minOccurs="0" name="PoruseniZakPrest" type="UcastnikDN_PoruseniZakPrest_text"/>
      <xs:element maxOccurs="1" minOccurs="0" name="PoruseniZakTrest" type="UcastnikDN_PoruseniZakTrest_text"/>
      <xs:element maxOccurs="1" minOccurs="0" name="PoruseniZakOst" type="UcastnikDN_PoruseniZakOst_text"/>
      <xs:element maxOccurs="1" minOccurs="0" name="Vazba" type="UcastnikDN_Vazba_text"/>
    </xs:sequence>
    <xs:attribute name="AlkoholDech" type="DN_type_alkoholDechDN_Type" use="optional"/>
    <xs:attribute name="AlkoholKrev" type="DN_type_alkoholKrevDN_Type" use="optional"/>
    <xs:attribute name="OznSegmentu" type="DN_type_oznSegmentuDN_Type" use="required"/>
    <xs:attribute name="PokutaKc" type="DN_type_pokutaDN_Type" use="optional"/>
    <xs:attribute name="PokutaZapl" type="DN_type_pokutaZaplDN_Type" use="optional"/>
    <xs:attribute name="Pachatel" type="DN_type_pachatelDN_Type" use="optional"/>
    <xs:attribute name="Poskozeny" type="DN_type_poskozenyDN_Type" use="optional"/>
    <xs:attribute name="PraxeRizeni" type="DN_type_praxeRizeniDN_Type" use="optional"/>
    <xs:attribute name="TypUcastnika" type="DN_type_typUcastnikaDN_Type" use="required"/>
    <xs:attribute name="ZdravPojistovna" type="DN_type_kodZdravPojistovnyDN_Type" use="optional"/>
    <xs:attribute name="Zraneni" type="DN_type_zraneniDN_Type" use="optional"/>
  </xs:complexType>
  <xs:complexType name="VlakDN">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="Skoda" type="Skoda"/>
      <xs:element maxOccurs="1" minOccurs="0" name="JinaSkoda" type="Skoda"/>
      <xs:element maxOccurs="1" minOccurs="0" name="Vlastnik" type="VlakDN_Vlastnik_text"/>
    </xs:sequence>
    <xs:attribute name="DruhSoupravy" type="DN_type_druhSoupravyDN_Type" use="required"/>
    <xs:attribute name="OznSegmentu" type="DN_type_oznSegmentuDN_Type" use="required"/>
    <xs:attribute name="Spoj" type="DN_type_spojDN_Type" use="optional"/>
    <xs:attribute name="TypSoupravy" type="DN_type_typSoupravyDN_Type" use="required"/>
  </xs:complexType>
  <xs:complexType name="VozidloDN">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="Skoda" type="Skoda"/>
      <xs:element maxOccurs="1" minOccurs="0" name="JinaSkoda" type="Skoda"/>
      <xs:element maxOccurs="1" minOccurs="0" name="Drzitel" type="VozidloDN_Drzitel_text"/>
    </xs:sequence>
    <xs:attribute name="CisloDokladuPojisteni" type="DN_type_cisloDokladuPojisteniDN_Type" use="optional"/>
    <xs:attribute name="CisloZK" type="DN_type_cisloZKDN_Type" use="optional"/>
    <xs:attribute name="DatumUhradyHP" type="DN_type_datumCasDN_Type" use="optional"/>
    <xs:attribute name="DruhVozidla" type="DN_type_druhVozidlaDN_Type" use="required"/>
    <xs:attribute name="KodPojistitele" type="DN_type_kodPojistiteleDN_Type" use="optional"/>
    <xs:attribute name="MesicSTKDo" type="DN_type_platnostSTKDoDN_Type" use="optional"/>
    <xs:attribute name="MistoUhradyHP" type="DN_type_mistoTextDN_Type" use="optional"/>
    <xs:attribute name="MPZ" type="DN_type_mpzDN_Type" use="optional"/>
    <xs:attribute name="OznSegmentu" type="DN_type_oznSegmentuDN_Type" use="required"/>
    <xs:attribute name="PlatnostSTK" type="DN_type_platnostSTKDN_Type" use="optional"/>
    <xs:attribute name="PlatnostZKDo" type="DN_type_datumCasDN_Type" use="optional"/>
    <xs:attribute name="PlatnostZKOd" type="DN_type_datumCasDN_Type" use="optional"/>
    <xs:attribute name="PojisteniText" type="DN_type_pojisteniTextDN_Type" use="optional"/>
    <xs:attribute name="PojistneHPKc" type="DN_type_pojistneHPDN_Type" use="optional"/>
    <xs:attribute name="RokVyroby" type="DN_type_rokDN_Type" use="optional"/>
    <xs:attribute name="SPZ" type="DN_type_spzDN_Type" use="optional"/>
    <xs:attribute name="StavBrzd" type="DN_type_stavBrzdPopisDN_Type" use="optional"/>
    <xs:attribute name="TypBrzd" type="DN_type_typBrzdPopisDN_Type" use="optional"/>
    <xs:attribute name="TypVozidla" type="DN_type_typVozidlaDN_Type" use="optional"/>
    <xs:attribute name="VIN" type="DN_type_vinDN_Type" use="optional"/>
    <xs:attribute name="VydalZK" type="DN_type_vydalZKDN_Type" use="optional"/>
    <xs:attribute name="ZnackaVozidla" type="DN_type_znackaVozidlaDN_Type" use="optional"/>
  </xs:complexType>
  <xs:complexType name="ZaznamPDN">
    <xs:sequence>
      <xs:element name="Protokol" type="ProtokolDN"/>
      <xs:element maxOccurs="1" minOccurs="0" name="Rozhodnuti" type="RozhodnutiDN"/>
      <xs:element name="Vyliceni" type="ZaznamPDN_mixed_Vyliceni_text"/>
      <xs:element name="ObjStranka" type="ObjStrankaDN"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Vozidlo" type="VozidloDN"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Tramvaj" type="TramvajDN"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Trolejbus" type="TrolejbusDN"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Vlak" type="VlakDN"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Povoz" type="PovozDN"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Predmet" type="PredmetDN"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Zvire" type="ZvireDN"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Ucastnik" type="UcastnikDN"/>
    </xs:sequence>
    <xs:attribute name="IdentZaznamu" type="GAM_type_msgIdent_Type" use="required"/>
    <xs:attribute name="KrajPolicie" type="DN_type_kodKrajePolicie_Type" use="required"/>
    <xs:attribute name="PlatnostOd" type="DN_type_datumCasDN_Type" use="required"/>
    <xs:attribute name="Verze" type="GAM_type_channelTypeVersion_Type" use="optional"/>
  </xs:complexType>
  <xs:complexType name="ZvireDN">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="Skoda" type="Skoda"/>
      <xs:element maxOccurs="1" minOccurs="0" name="Vlastnik" type="ZvireDN_Vlastnik_text"/>
    </xs:sequence>
    <xs:attribute name="DruhZvirete" type="DN_type_druhZvireteDN_Type" use="required"/>
    <xs:attribute name="NazevZvirete" type="DN_type_nazevZvireteDN_Type" use="required"/>
    <xs:attribute name="OznSegmentu" type="DN_type_oznSegmentuDN_Type" use="required"/>
  </xs:complexType>
</xs:schema>