src/test/java/test/xdutils/data/schema/igor/B1_common.def.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="Typ_Type">
    <xs:restriction base="xs:string">
      <xs:length value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Hash_user_Type">
    <xs:annotation>
      <xs:documentation>
        This "User type"replaces an unrecognised type of attribute
        or text value! The name of unrecognised type is: required
        hex() . Please check the XDefinition!
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="Rezerva_Type">
    <xs:restriction base="xs:long">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="999999999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Vyplaceno_Type">
    <xs:restriction base="xs:long">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="999999999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Regres_Type">
    <xs:restriction base="xs:long">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="999999999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DatumCasSU_XdDatetime_Type">
    <xs:restriction base="xs:string">
      <xs:pattern value="(19|20)[0-9]{2}(0[1-9]|1[0-2])([0-2][0-9]|3[01])([01][0-9]|2[0-3])[0-5][0-9]"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="KlasifikovanaUdalost_Type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="A"/>
      <xs:enumeration value="N"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="KodPojistitele_Xdnum_Type">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{4}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CisloSmlouvy_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PoradiVozidla_Xdnum_Type">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{1,10}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DruhVozidla_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="UsekPojisteniOd_XdDatetime_Type">
    <xs:restriction base="xs:string">
      <xs:pattern value="(19|20)[0-9]{2}(0[1-9]|1[0-2])([0-2][0-9]|3[01])"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="UsekPojisteniDo_XdDatetime_Type">
    <xs:restriction base="xs:string">
      <xs:pattern value="(19|20)[0-9]{2}(0[1-9]|1[0-2])([0-2][0-9]|3[01])"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ORD_Type">
    <xs:restriction base="xs:long">
      <xs:minInclusive value="-9999"/>
      <xs:maxInclusive value="9999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="InfoDatum_XdDatetime_Type">
    <xs:restriction base="xs:string">
      <xs:pattern value="(19|20)[0-9]{2}(0[1-9]|1[0-2])([0-2][0-9]|3[01])"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StavSmlouvy_Type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="T"/>
      <xs:enumeration value="U"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Blokace_Xdnum_Type">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{4}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AltIdentPSP_Type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="A"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DatumNarozeni_XdDatetime_Type">
    <xs:restriction base="xs:string">
      <xs:pattern value="(19|20)[0-9]{2}(0[1-9]|1[0-2])([0-2][0-9]|3[01])"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AddInfo_Type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="0"/>
      <xs:enumeration value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Flow_Type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="B1_Get"/>
      <xs:enumeration value="B1_Set"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="InstallationDate_userDate">
    <xs:annotation>
      <xs:documentation>
        This "User date" type replaces an "date" type or "datetime"
        type with mask in XDefinition! Here is the mask from XDefinition:
        d.M.y H:m. For creating this type of date in Xml schema is
        nesseserry to usethe element "pattern" and suitable regular
        expression.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="KodPartnera_user_Type">
    <xs:annotation>
      <xs:documentation>
        This "User type"replaces an unrecognised type of attribute
        or text value! The name of unrecognised type is: required
        tab('VR_DefPartner','KodPartnera') . Please check the XDefinition!
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="IdentZpravy_Type">
    <xs:restriction base="xs:long">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="9999999999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RefMsgID_Type">
    <xs:restriction base="xs:long">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="9999999999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Mode_Type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="STD"/>
      <xs:enumeration value="TST"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="KodPojistitele_user_Type">
    <xs:annotation>
      <xs:documentation>
        This "User type"replaces an unrecognised type of attribute
        or text value! The name of unrecognised type is: required
        tab('CC_Pojistitel','KodPojistitele') . Please check the
        XDefinition!
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:complexType name="B1_common_PSP_type">
    <xs:sequence>
      <xs:element name="UsekPojisteni" type="B1_common_UsekPojisteni_type" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="ORD" type="ORD_Type" use="optional"/>
    <xs:attribute name="InfoDatum" type="InfoDatum_XdDatetime_Type" use="required"/>
    <xs:attribute name="KodPojistitele" type="KodPojistitele_Xdnum_Type" use="required"/>
    <xs:attribute name="CisloSmlouvy" type="CisloSmlouvy_Type" use="required"/>
    <xs:attribute name="PoradiVozidla" type="PoradiVozidla_Xdnum_Type" use="required"/>
    <xs:attribute name="StavSmlouvy" type="StavSmlouvy_Type" use="required"/>
    <xs:attribute name="Blokace" type="Blokace_Xdnum_Type" use="optional"/>
    <xs:attribute name="AltIdentPSP" type="AltIdentPSP_Type" use="optional"/>
  </xs:complexType>
  <xs:complexType name="B1_common_UsekPojisteni_type">
    <xs:sequence>
      <xs:element name="RozhodnaUdalost" type="B1_common_RozhodnaUdalost_type" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="KodPojistitele" type="KodPojistitele_Xdnum_Type" use="required"/>
    <xs:attribute name="CisloSmlouvy" type="CisloSmlouvy_Type" use="required"/>
    <xs:attribute name="PoradiVozidla" type="PoradiVozidla_Xdnum_Type" use="required"/>
    <xs:attribute name="DruhVozidla" type="DruhVozidla_Type" use="required"/>
    <xs:attribute name="UsekPojisteniOd" type="UsekPojisteniOd_XdDatetime_Type" use="required"/>
    <xs:attribute name="UsekPojisteniDo" type="UsekPojisteniDo_XdDatetime_Type" use="optional"/>
  </xs:complexType>
  <xs:complexType name="B1_common_RozhodnaUdalost_type">
    <xs:attribute name="Rezerva" type="Rezerva_Type" use="required"/>
    <xs:attribute name="Vyplaceno" type="Vyplaceno_Type" use="required"/>
    <xs:attribute name="Regres" type="Regres_Type" use="required"/>
    <xs:attribute name="DatumCasSU" type="DatumCasSU_XdDatetime_Type" use="required"/>
    <xs:attribute name="KlasifikovanaUdalost" type="KlasifikovanaUdalost_Type" use="required"/>
  </xs:complexType>
  <xs:complexType name="B1_common_Id_Nositel_type">
    <xs:attribute name="Jmeno" type="xs:string" use="optional"/>
    <xs:attribute name="Prijmeni" type="xs:string" use="optional"/>
    <xs:attribute name="RC" type="" use="optional"/>
    <xs:attribute name="DatumNarozeni" type="DatumNarozeni_XdDatetime_Type" use="optional"/>
    <xs:attribute name="IdStatPrislusnost" type="xs:long" use="optional"/>
    <xs:attribute name="NazevFirmy" type="xs:string" use="optional"/>
    <xs:attribute name="IC" type="xs:long" use="optional"/>
  </xs:complexType>
  <xs:complexType name="B1_common_Id_Smlouva_type">
    <xs:attribute name="IdPojistitel" type="xs:long" use="required"/>
    <xs:attribute name="CisloSmlouvy" type="xs:string" use="required"/>
    <xs:attribute name="PoradiVozidla" type="" use="required"/>
  </xs:complexType>
  <xs:complexType name="B1_common_Nositel_subel">
    <xs:complexContent>
      <xs:extension base="B1_common_Id_Nositel_type">
        <xs:attribute name="InfoDatum" type="InfoDatum_XdDatetime_Type" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ZacatekDavky">
    <xs:complexType/>
  </xs:element>
  <xs:element name="KonecDavky">
    <xs:complexType/>
  </xs:element>
  <xs:element name="AuthData">
    <xs:complexType>
      <xs:all>
        <xs:element name="RemoteHost" minOccurs="0">
          <xs:complexType>
            <xs:attribute name="IP" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="X509Certificate" minOccurs="0">
          <xs:complexType>
            <xs:attribute name="Hash" type="Hash_user_Type" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="Answer">
    <xs:complexType/>
  </xs:element>
  <xs:element name="Fault">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Detail">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Chyba" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="KodChyby" type="xs:long" use="required"/>
                  <xs:attribute name="Typ" type="Typ_Type" use="required"/>
                  <xs:attribute name="Xpath" type="xs:string" use="optional"/>
                  <xs:attribute name="Hodnota" type="xs:string" use="optional"/>
                  <xs:attribute name="Popis" type="xs:string" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BlokujPSP">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PSP" type="B1_common_PSP_type"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_NositelPSP">
    <xs:complexType>
      <xs:choice>
        <xs:element name="Nositel" type="B1_common_Id_Nositel_type"/>
        <xs:element name="CilovaSmlouva" type="B1_common_Id_Smlouva_type"/>
        <xs:element name="CilovyPSP" type="B1_common_Id_Smlouva_type"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_VolnePSP">
    <xs:complexType>
      <xs:choice>
        <xs:element name="Nositel" type="B1_common_Nositel_subel"/>
        <xs:element name="CilovaSmlouva" type="B1_common_Id_Smlouva_type"/>
        <xs:element name="CilovyPSP" type="B1_common_Id_Smlouva_type"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_SmlouvyPSP" type="B1_common_Id_Smlouva_type"/>
  <xs:element name="NositelPSP">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PSP" type="B1_common_PSP_type" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="AddInfo" type="AddInfo_Type" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ping">
    <xs:complexType/>
  </xs:element>
  <xs:element name="PingFlow">
    <xs:complexType>
      <xs:attribute name="Flow" type="Flow_Type" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="PingStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:annotation>
          <xs:documentation>
            This fragment replaces an element &lt;MIXED&gt; in the XDefinition,
            because it is not possible to use the tag &lt;ALL&gt; in
            this case. Please keep in mind, that the meaning is not
            the same as in the element &lt;MIXED&gt; in the XDefinition!
          </xs:documentation>
        </xs:annotation>
        <xs:choice maxOccurs="unbounded">
          <xs:element name="Program" maxOccurs="unbounded">
            <xs:complexType>
              <xs:attribute name="Name" type="xs:string" use="optional"/>
              <xs:attribute name="Version" type="xs:string" use="optional"/>
              <xs:attribute name="InstallationDate" type="InstallationDate_userDate" use="optional"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="Db" maxOccurs="unbounded">
            <xs:complexType>
              <xs:attribute name="Part" type="xs:string" use="optional"/>
              <xs:attribute name="Version" type="xs:string" use="optional"/>
              <xs:attribute name="InstallationDate" type="InstallationDate_userDate" use="optional"/>
            </xs:complexType>
          </xs:element>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Request">
    <xs:complexType>
      <xs:attribute name="BatchID" type="xs:long" use="optional"/>
      <xs:attribute name="SeqRec" type="xs:long" use="optional"/>
      <xs:attribute name="KodPartnera" type="KodPartnera_user_Type" use="required"/>
      <xs:attribute name="IdentZpravy" type="IdentZpravy_Type" use="required"/>
      <xs:attribute name="RefMsgID" type="RefMsgID_Type" use="optional"/>
      <xs:attribute name="Mode" type="Mode_Type" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_BlokujPSP">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ZdrojovaSmlouva" type="B1_common_Id_Smlouva_type"/>
      </xs:sequence>
      <xs:attribute name="IdPojistitel" type="xs:long" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_PrenosPSP">
    <xs:complexType>
      <xs:choice>
        <xs:element name="ZdrojovaSmlouva" type="B1_common_Id_Smlouva_type" maxOccurs="unbounded"/>
        <xs:element name="ZdrojovyPSP" type="B1_common_Id_Smlouva_type" maxOccurs="unbounded"/>
      </xs:choice>
      <xs:attribute name="IdPojistitel" type="xs:long" use="required"/>
      <xs:attribute name="CisloSmlouvy" type="xs:string" use="required"/>
      <xs:attribute name="PoradiVozidla" type="" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_UvolniPSP">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ZdrojovaSmlouva" type="B1_common_Id_Smlouva_type"/>
      </xs:sequence>
      <xs:attribute name="IdPojistitel" type="xs:long" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_ZrusPrenosPSP">
    <xs:complexType>
      <xs:attribute name="KodPojistitele" type="KodPojistitele_user_Type" use="required"/>
      <xs:attribute name="CisloSmlouvy" type="CisloSmlouvy_Type" use="required"/>
      <xs:attribute name="PoradiVozidla" type="PoradiVozidla_Xdnum_Type" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="SmlouvyPSP">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PSP" type="B1_common_PSP_type" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UvolniPSP">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PSP" type="B1_common_PSP_type"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VolnePSP">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PSP" type="B1_common_PSP_type" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="AddInfo" type="AddInfo_Type" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_PSP" type="B1_common_Id_Smlouva_type"/>
  <xs:element name="PSP">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="UsekPojisteni" type="B1_common_UsekPojisteni_type" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="ORD" type="ORD_Type" use="optional"/>
      <xs:attribute name="InfoDatum" type="InfoDatum_XdDatetime_Type" use="required"/>
      <xs:attribute name="KodPojistitele" type="KodPojistitele_Xdnum_Type" use="required"/>
      <xs:attribute name="CisloSmlouvy" type="CisloSmlouvy_Type" use="required"/>
      <xs:attribute name="PoradiVozidla" type="PoradiVozidla_Xdnum_Type" use="required"/>
      <xs:attribute name="StavSmlouvy" type="StavSmlouvy_Type" use="required"/>
      <xs:attribute name="Blokace" type="Blokace_Xdnum_Type" use="optional"/>
      <xs:attribute name="AltIdentPSP" type="AltIdentPSP_Type" use="optional"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
