src/test/resources/test/xdutils/data/schema/ta.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.syntea.cz/dn/Export/1.0"
  xmlns="http://www.syntea.cz/dn/Export/1.0"
  elementFormDefault="qualified">
  <xs:simpleType name="TypExportu_Type">
    <xs:restriction base="xs:long">
      <xs:minInclusive value="2"/>
      <xs:maxInclusive value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FoTitul_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="24"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FoJmeno_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="24"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FoPrijmeni_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="36"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FoDatumNarozeni_userDate">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="FoRC_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FoUcastnikChovaniPopis_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4000"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PoObchodniJmeno_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="36"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PoIC_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AdresaObec_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="36"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AdresaUliceDom_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="36"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AdresaPSC_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AdresaOkres_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="36"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TestVysledek1_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="80"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TestHodnoceni_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4000"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="KodNdnZaznamPlat_Type">
    <xs:restriction base="xs:string">
      <xs:length value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="KodNdn2DruhVozidla_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SilCisloEv_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="12"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SilVIN_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="26"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SilCisloTP_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="12"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SilCisloEvOsvedceni_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="80"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SilCisloEvidence_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SilDatum1Evidence_userDate">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="KodNdn2ZnackaTyp_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SilCisloPoistenieEv_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="80"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SilPoistovna_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="80"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DrazniOznaceni_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="80"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VecOznaceni_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="80"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VecCisloVyrobni_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="26"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VecMena_Type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SKK"/>
      <xs:enumeration value="EUR"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VecSkoda_Type">
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="11"/>
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VecPopisSkoda_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4000"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VecSkodaNaklad_Type">
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="11"/>
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VecPopisSkodaNaklad_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4000"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VecKvadrant_Type">
    <xs:restriction base="xs:string">
      <xs:length value="9"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VecPopisL_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="512"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VecPopisR_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="512"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VecPopisF_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="512"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VecPopisB_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="512"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VecPopisT_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="512"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VecPopisU_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="512"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VecPopisN_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="512"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VecPopisX_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="512"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VecPopisZ_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="512"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="OhledCas_userDate">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="OhledCasDo_userDate">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="OhledKvalitaPovrchu_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="80"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="OhledStavPovrchu_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="80"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="OhledStavKrajnice_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="80"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="OhledDeleniKomunikace_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="80"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="OhledRozhled_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="80"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="OhledRizeniProvozu_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="80"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="OhledRychlostniLimit_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="80"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="OhledDopravniSituace_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="512"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="KodNdn2PricinyTc_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="KodNdn2NasledkyTc_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="KodNdn2Priciny_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="KodNdn2Nasledky_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PrubehPopis_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4000"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DnCj_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="32"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="KodNdnKniha_Xdnum_Type">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{4}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VerzeRokKniha_Type">
    <xs:restriction base="xs:long">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="99"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VerzeCisloKniha_Type">
    <xs:restriction base="xs:long">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="99999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="KodSednOkres_Xdnum_Type">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{4}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VerzeOznaceni_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="80"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VerzeDatumCas_userDate">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="VerzeDatumCasDo_userDate">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="VerzeUzemiUtvar_Type">
    <xs:restriction base="xs:string">
      <xs:length value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VerzeCisloKomunikace_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="7"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VerzeKm_Type">
    <xs:restriction base="xs:long">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="999999999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VerzeCisloUzlu1_Xdnum_Type">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{3,4}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VerzeCisloUzlu2_Xdnum_Type">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{3,4}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VerzePopisMista_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="512"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VerzeObec_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="80"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DatumCasUlozeni_userDate">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="DnKodUtvarSetri_Type">
    <xs:restriction base="xs:string">
      <xs:length value="6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="KodNdnZaznamPlatSchval_Type">
    <xs:restriction base="xs:string">
      <xs:length value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ZoDna_userDate">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:complexType name="Export_SkpGetNextDavka_type">
    <xs:attribute name="PosledniDavka"
      type="xs:long"
      use="required"/>
  </xs:complexType>
  <xs:complexType name="Export_SednGetNextDavka_type">
    <xs:attribute name="PosledniDavka"
      type="xs:long"
      use="required"/>
    <xs:attribute name="TypExportu"
      type="TypExportu_Type"
      use="required"/>
  </xs:complexType>
  <xs:complexType name="Export_SuborD2A_type">
    <xs:sequence>
      <xs:element name="ZaznamDN"
        type="Export_ZaznamDN_type"
        minOccurs="0"
        maxOccurs="100"/>
    </xs:sequence>
    <xs:attribute name="Davka"
      type="xs:long"
      use="required"/>
    <xs:attribute name="ZoDna"
      type="ZoDna_userDate"
      use="required"/>
  </xs:complexType>
  <xs:complexType name="Export_ZaznamDN_type">
    <xs:sequence>
      <xs:element name="DNVerze"
        type="Export_DNVerze_type"/>
    </xs:sequence>
    <xs:attribute name="DnXMLVersion"
      type="xs:string"
      use="optional"/>
    <xs:attribute name="SeqDnCentrum"
      type="xs:long"
      use="required"/>
    <xs:attribute name="DnKodUtvarSetri"
      type="DnKodUtvarSetri_Type"
      use="required"/>
    <xs:attribute name="KodNdnZaznamPlatSchval"
      type="KodNdnZaznamPlatSchval_Type"
      use="required"/>
  </xs:complexType>
  <xs:complexType name="Export_DNVerze_type">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="Osoba"
          type="Export_Osoba_type"
          minOccurs="0"
          maxOccurs="unbounded"/>
        <xs:element name="Vec"
          type="Export_Vec_type"
          minOccurs="0"
          maxOccurs="unbounded"/>
        <xs:element name="Ohledani"
          type="Export_Ohledani_type"
          minOccurs="0"
          maxOccurs="unbounded"/>
        <xs:element name="VerzePrubeh"
          type="Export_VerzePrubeh_type"
          minOccurs="0"
          maxOccurs="unbounded"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="SeqDnVerze"
      type="xs:long"
      use="required"/>
    <xs:attribute name="DnCj"
      type="DnCj_Type"
      use="optional"/>
    <xs:attribute name="KodNdnKniha"
      type="KodNdnKniha_Xdnum_Type"
      use="required"/>
    <xs:attribute name="VerzeRokKniha"
      type="VerzeRokKniha_Type"
      use="required"/>
    <xs:attribute name="VerzeCisloKniha"
      type="VerzeCisloKniha_Type"
      use="optional"/>
    <xs:attribute name="KodSednOkres"
      type="KodSednOkres_Xdnum_Type"
      use="required"/>
    <xs:attribute name="VerzeOznaceni"
      type="VerzeOznaceni_Type"
      use="required"/>
    <xs:attribute name="VerzeDatumCas"
      type="VerzeDatumCas_userDate"
      use="required"/>
    <xs:attribute name="VerzeDatumCasDo"
      type="VerzeDatumCasDo_userDate"
      use="optional"/>
    <xs:attribute name="VerzeUzemiUtvar"
      type="VerzeUzemiUtvar_Type"
      use="required"/>
    <xs:attribute name="KodSednVObci"
      type="xs:string"
      use="required"/>
    <xs:attribute name="KodSednMistoDn"
      type="xs:string"
      use="required"/>
    <xs:attribute name="KodSednDruhKomunikace"
      type="xs:string"
      use="required"/>
    <xs:attribute name="KodSednDruhKomunikaceKriz"
      type="xs:string"
      use="required"/>
    <xs:attribute name="VerzeCisloKomunikace"
      type="VerzeCisloKomunikace_Type"
      use="optional"/>
    <xs:attribute name="VerzeKm"
      type="VerzeKm_Type"
      use="optional"/>
    <xs:attribute name="VerzeCisloUzlu1"
      type="VerzeCisloUzlu1_Xdnum_Type"
      use="optional"/>
    <xs:attribute name="VerzeCisloUzlu2"
      type="VerzeCisloUzlu2_Xdnum_Type"
      use="optional"/>
    <xs:attribute name="VerzeGPSSirka"
      type="xs:long"
      use="optional"/>
    <xs:attribute name="VerzeGPSDelka"
      type="xs:long"
      use="optional"/>
    <xs:attribute name="VerzePopisMista"
      type="VerzePopisMista_Type"
      use="optional"/>
    <xs:attribute name="VerzeObec"
      type="VerzeObec_Type"
      use="optional"/>
    <xs:attribute name="KodNdnStavSetreni"
      type="xs:string"
      use="required"/>
    <xs:attribute name="KodNdnStavEvidence"
      type="xs:string"
      use="required"/>
    <xs:attribute name="KodNdnKvalEvidence"
      type="xs:string"
      use="required"/>
    <xs:attribute name="KodNdnKvalUdalost"
      type="xs:string"
      use="required"/>
    <xs:attribute name="DatumCasUlozeni"
      type="DatumCasUlozeni_userDate"
      use="required"/>
  </xs:complexType>
  <xs:complexType name="Export_Osoba_type">
    <xs:sequence>
      <xs:choice>
        <xs:element name="FO"
          type="Export_FO_type"
          minOccurs="0"/>
        <xs:element name="PO"
          type="Export_PO_type"
          minOccurs="0"/>
      </xs:choice>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded">
          <xs:element name="Adresa"
            type="Export_Adresa_type"
            minOccurs="0"/>
          <xs:element name="OsobaProcesniUkon"
            type="Export_OsobaProcesniUkon_type"
            minOccurs="0"
            maxOccurs="unbounded"/>
        </xs:choice>
      </xs:sequence>
    </xs:sequence>
    <xs:attribute name="SeqKlient"
      type="xs:long"
      use="required"/>
    <xs:attribute name="RefKlientVec"
      type="xs:long"
      use="optional"/>
    <xs:attribute name="KodNdnKvalOsoba"
      type="xs:string"
      use="required"/>
    <xs:attribute name="KodNdnZaznamPlat"
      type="KodNdnZaznamPlat_Type"
      use="required"/>
  </xs:complexType>
  <xs:complexType name="Export_FO_type">
    <xs:attribute name="FoTitul"
      type="FoTitul_Type"
      use="optional"/>
    <xs:attribute name="FoJmeno"
      type="FoJmeno_Type"
      use="required"/>
    <xs:attribute name="FoPrijmeni"
      type="FoPrijmeni_Type"
      use="required"/>
    <xs:attribute name="FoDatumNarozeni"
      type="FoDatumNarozeni_userDate"
      use="optional"/>
    <xs:attribute name="FoRC"
      type="FoRC_Type"
      use="optional"/>
    <xs:attribute name="KodSednStat"
      type="xs:string"
      use="required"/>
    <xs:attribute name="KodNdnPohlavi"
      type="xs:string"
      use="required"/>
    <xs:attribute name="KodNdnKvalUcastnikProvoz"
      type="xs:string"
      use="required"/>
    <xs:attribute name="KodNdnRoleFo"
      type="xs:string"
      use="required"/>
    <xs:attribute name="KodNdnTypZraneni"
      type="xs:string"
      use="required"/>
    <xs:attribute name="FoUcastnikChovaniPopis"
      type="FoUcastnikChovaniPopis_Type"
      use="optional"/>
    <xs:attribute name="KodSednSituaceChodce"
      type="xs:string"
      use="required"/>
    <xs:attribute name="KodSednChovaniChodce"
      type="xs:string"
      use="required"/>
  </xs:complexType>
  <xs:complexType name="Export_PO_type">
    <xs:attribute name="PoObchodniJmeno"
      type="PoObchodniJmeno_Type"
      use="required"/>
    <xs:attribute name="PoIC"
      type="PoIC_Type"
      use="required"/>
    <xs:attribute name="KodSednStat"
      type="xs:string"
      use="required"/>
  </xs:complexType>
  <xs:complexType name="Export_Adresa_type">
    <xs:attribute name="SeqKlient"
      type="xs:long"
      use="required"/>
    <xs:attribute name="AdresaObec"
      type="AdresaObec_Type"
      use="optional"/>
    <xs:attribute name="AdresaUliceDom"
      type="AdresaUliceDom_Type"
      use="optional"/>
    <xs:attribute name="AdresaPSC"
      type="AdresaPSC_Type"
      use="optional"/>
    <xs:attribute name="AdresaOkres"
      type="AdresaOkres_Type"
      use="optional"/>
    <xs:attribute name="KodSednStat"
      type="xs:string"
      use="required"/>
  </xs:complexType>
  <xs:complexType name="Export_OsobaProcesniUkon_type">
    <xs:sequence>
      <xs:element name="TestOsoba"
        type="Export_TestOsoba_type"
        minOccurs="0"
        maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="SeqKlient"
      type="xs:long"
      use="required"/>
    <xs:attribute name="KodNdnDruhOProcesniUkon"
      type="xs:string"
      use="required"/>
  </xs:complexType>
  <xs:complexType name="Export_TestOsoba_type">
    <xs:attribute name="KodNdnAlkoholDruhTestu"
      type="xs:string"
      use="required"/>
    <xs:attribute name="KodNdnAlkoholVyhodTestu"
      type="xs:string"
      use="required"/>
    <xs:attribute name="TestVysledek1"
      type="TestVysledek1_Type"
      use="optional"/>
    <xs:attribute name="TestHodnoceni"
      type="TestHodnoceni_Type"
      use="optional"/>
  </xs:complexType>
  <xs:complexType name="Export_Vec_type">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Vozidlo"
          type="Export_Vozidlo_type"
          minOccurs="0"/>
        <xs:element name="JinaVec"
          type="Export_JinaVec_type"
          minOccurs="0"/>
      </xs:choice>
      <xs:element name="SubjektDrzitel"
        type="Export_SubjektDrzitel_type"
        minOccurs="0"
        maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="SeqKlient"
      type="xs:long"
      use="required"/>
    <xs:attribute name="KodNdnTypVec"
      type="xs:string"
      use="required"/>
    <xs:attribute name="VecOznaceni"
      type="VecOznaceni_Type"
      use="required"/>
    <xs:attribute name="RefVecPredchozi"
      type="xs:long"
      use="optional"/>
    <xs:attribute name="KodNdnTypVazbaVecVec"
      type="xs:string"
      use="required"/>
    <xs:attribute name="VecCisloVyrobni"
      type="VecCisloVyrobni_Type"
      use="optional"/>
    <xs:attribute name="VecMena"
      type="VecMena_Type"
      use="required"/>
    <xs:attribute name="VecSkoda"
      type="VecSkoda_Type"
      use="required"/>
    <xs:attribute name="VecPopisSkoda"
      type="VecPopisSkoda_Type"
      use="optional"/>
    <xs:attribute name="VecSkodaNaklad"
      type="VecSkodaNaklad_Type"
      use="required"/>
    <xs:attribute name="VecPopisSkodaNaklad"
      type="VecPopisSkodaNaklad_Type"
      use="optional"/>
    <xs:attribute name="VecKvadrant"
      type="VecKvadrant_Type"
      use="required"/>
    <xs:attribute name="VecPopisL"
      type="VecPopisL_Type"
      use="optional"/>
    <xs:attribute name="VecPopisR"
      type="VecPopisR_Type"
      use="optional"/>
    <xs:attribute name="VecPopisF"
      type="VecPopisF_Type"
      use="optional"/>
    <xs:attribute name="VecPopisB"
      type="VecPopisB_Type"
      use="optional"/>
    <xs:attribute name="VecPopisT"
      type="VecPopisT_Type"
      use="optional"/>
    <xs:attribute name="VecPopisU"
      type="VecPopisU_Type"
      use="optional"/>
    <xs:attribute name="VecPopisN"
      type="VecPopisN_Type"
      use="optional"/>
    <xs:attribute name="VecPopisX"
      type="VecPopisX_Type"
      use="optional"/>
    <xs:attribute name="VecPopisZ"
      type="VecPopisZ_Type"
      use="optional"/>
    <xs:attribute name="KodNdnZaznamPlat"
      type="KodNdnZaznamPlat_Type"
      use="required"/>
  </xs:complexType>
  <xs:complexType name="Export_Vozidlo_type">
    <xs:attribute name="KodNdn1DruhVozidla"
      type="xs:string"
      use="required"/>
    <xs:attribute name="KodNdn2DruhVozidla"
      type="KodNdn2DruhVozidla_Type"
      use="required"/>
    <xs:attribute name="SilCisloEv"
      type="SilCisloEv_Type"
      use="required"/>
    <xs:attribute name="KodSednStat"
      type="xs:string"
      use="required"/>
    <xs:attribute name="SilVIN"
      type="SilVIN_Type"
      use="optional"/>
    <xs:attribute name="SilCisloTP"
      type="SilCisloTP_Type"
      use="optional"/>
    <xs:attribute name="SilCisloEvOsvedceni"
      type="SilCisloEvOsvedceni_Type"
      use="optional"/>
    <xs:attribute name="SilCisloEvidence"
      type="SilCisloEvidence_Type"
      use="optional"/>
    <xs:attribute name="SilDatum1Evidence"
      type="SilDatum1Evidence_userDate"
      use="optional"/>
    <xs:attribute name="KodNdn1ZnackaTyp"
      type="xs:string"
      use="required"/>
    <xs:attribute name="KodNdn2ZnackaTyp"
      type="KodNdn2ZnackaTyp_Type"
      use="required"/>
    <xs:attribute name="KodNdnBarva"
      type="xs:string"
      use="required"/>
    <xs:attribute name="SilCisloPoistenieEv"
      type="SilCisloPoistenieEv_Type"
      use="optional"/>
    <xs:attribute name="KodNdnPoistovna"
      type="xs:long"
      use="required"/>
    <xs:attribute name="SilPoistovna"
      type="SilPoistovna_Type"
      use="optional"/>
    <xs:attribute name="KodSednSmerJizdy"
      type="xs:string"
      use="required"/>
    <xs:attribute name="DrazniOznaceni"
      type="DrazniOznaceni_Type"
      use="optional"/>
  </xs:complexType>
  <xs:complexType name="Export_JinaVec_type">
    <xs:attribute name="KodNdnDruhJinaVec"
      type="xs:string"
      use="required"/>
    <xs:attribute name="KodSednPrekazka"
      type="xs:string"
      use="required"/>
  </xs:complexType>
  <xs:complexType name="Export_SubjektDrzitel_type">
    <xs:attribute name="SeqKlient"
      type="xs:long"
      use="required"/>
    <xs:attribute name="RefKlientOsoba"
      type="xs:long"
      use="required"/>
    <xs:attribute name="KodNdnDrzitel"
      type="xs:string"
      use="required"/>
  </xs:complexType>
  <xs:complexType name="Export_Ohledani_type">
    <xs:attribute name="SeqKlient"
      type="xs:long"
      use="required"/>
    <xs:attribute name="OhledCas"
      type="OhledCas_userDate"
      use="required"/>
    <xs:attribute name="OhledCasDo"
      type="OhledCasDo_userDate"
      use="optional"/>
    <xs:attribute name="KodSednPovrchVozovky"
      type="xs:string"
      use="required"/>
    <xs:attribute name="KodSednKvalitaPovrchu"
      type="xs:string"
      use="required"/>
    <xs:attribute name="OhledKvalitaPovrchu"
      type="OhledKvalitaPovrchu_Type"
      use="optional"/>
    <xs:attribute name="KodSednStavPovrchu"
      type="xs:string"
      use="required"/>
    <xs:attribute name="OhledStavPovrchu"
      type="OhledStavPovrchu_Type"
      use="optional"/>
    <xs:attribute name="KodSednStavKrajnice"
      type="xs:string"
      use="required"/>
    <xs:attribute name="OhledStavKrajnice"
      type="OhledStavKrajnice_Type"
      use="optional"/>
    <xs:attribute name="KodSednZavadaKomunikace"
      type="xs:string"
      use="required"/>
    <xs:attribute name="KodSednDeleniKomunikace"
      type="xs:string"
      use="required"/>
    <xs:attribute name="OhledDeleniKomunikace"
      type="OhledDeleniKomunikace_Type"
      use="optional"/>
    <xs:attribute name="KodSednPocasi"
      type="xs:string"
      use="required"/>
    <xs:attribute name="KodSednViditelnost"
      type="xs:string"
      use="required"/>
    <xs:attribute name="KodSednRozhled"
      type="xs:string"
      use="required"/>
    <xs:attribute name="OhledRozhled"
      type="OhledRozhled_Type"
      use="optional"/>
    <xs:attribute name="KodSednRizeniProvozu"
      type="xs:string"
      use="required"/>
    <xs:attribute name="OhledRizeniProvozu"
      type="OhledRizeniProvozu_Type"
      use="optional"/>
    <xs:attribute name="KodSednSituovaniDn"
      type="xs:string"
      use="required"/>
    <xs:attribute name="KodSednSpecifickeObjektyDn"
      type="xs:string"
      use="required"/>
    <xs:attribute name="KodSednSmerovePomery"
      type="xs:string"
      use="required"/>
    <xs:attribute name="KodSednRychlostniLimit"
      type="xs:string"
      use="required"/>
    <xs:attribute name="KodNdnHustotaProvozu"
      type="xs:string"
      use="required"/>
    <xs:attribute name="OhledRychlostniLimit"
      type="OhledRychlostniLimit_Type"
      use="optional"/>
    <xs:attribute name="OhledDopravniSituace"
      type="OhledDopravniSituace_Type"
      use="optional"/>
  </xs:complexType>
  <xs:complexType name="Export_VerzePrubeh_type">
    <xs:sequence>
      <xs:element name="VerzePricina"
        type="Export_VerzePricina_type"
        minOccurs="0"
        maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="SeqKlient"
      type="xs:long"
      use="required"/>
    <xs:attribute name="PrubehPopis"
      type="PrubehPopis_Type"
      use="optional"/>
  </xs:complexType>
  <xs:complexType name="Export_VerzePricina_type">
    <xs:attribute name="SeqKlient"
      type="xs:long"
      use="required"/>
    <xs:attribute name="RefKlientOsoba"
      type="xs:long"
      use="optional"/>
    <xs:attribute name="KodNdnKvalObecObjekt"
      type="xs:string"
      use="required"/>
    <xs:attribute name="KodNdn1PricinyTc"
      type="xs:string"
      use="required"/>
    <xs:attribute name="KodNdn2PricinyTc"
      type="KodNdn2PricinyTc_Type"
      use="required"/>
    <xs:attribute name="KodNdn1NasledkyTc"
      type="xs:string"
      use="required"/>
    <xs:attribute name="KodNdn2NasledkyTc"
      type="KodNdn2NasledkyTc_Type"
      use="required"/>
    <xs:attribute name="KodNdn1Priciny"
      type="xs:string"
      use="required"/>
    <xs:attribute name="KodNdn2Priciny"
      type="KodNdn2Priciny_Type"
      use="required"/>
    <xs:attribute name="KodNdn1Nasledky"
      type="xs:string"
      use="required"/>
    <xs:attribute name="KodNdn2Nasledky"
      type="KodNdn2Nasledky_Type"
      use="required"/>
  </xs:complexType>
  <xs:element name="SkpGetNextDavka"
    type="Export_SkpGetNextDavka_type"/>
  <xs:element name="SednGetNextDavka"
    type="Export_SednGetNextDavka_type"/>
  <xs:element name="SuborD2A"
    type="Export_SuborD2A_type"/>
</xs:schema>