src/test/java/test/xdutils/data/xsd2xd/t019.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="c_Type">
    <xs:restriction base="xs:long">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="100"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="b_Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="100"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="a">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="b"
          type="b_Type"/>
        <xs:element name="c"
          type="c_Type"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>