xdef/src/test/java/bugreports/xsd/_XB.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="A">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="B">
          <xs:complexType>
            <xs:attribute name="b" type="Ab_w" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="a" type="a" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="Ab_w">
    <xs:restriction base="xs:string">
      <xs:length value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="a">
    <xs:restriction base="xs:NCName"/>
  </xs:simpleType>
</xs:schema>