xdef/src/test/java/bugreports/xsd/_XC.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="A">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="B">
          <xs:complexType/>
        </xs:element>
        <xs:element name="C">
          <xs:complexType>
            <xs:simpleContent>
              <xs:annotation>
                <xs:documentation>
                  In the X-definition is declared optional text item as string(%pattern=([1-9]|[0-2]\d|3[0-1])\.([1-9]|0[1-9]|1[0-2])\.(-)?\d{4})
                </xs:documentation>
              </xs:annotation>
              <xs:extension base="_C"/>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="a" type="a" use="required"/>
      <xs:attribute name="b" type="w" use="optional"/>
      <xs:attribute name="c" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="d" type="xs:date" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="_C">
    <xs:union>
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Created from X-definition xdatetime(d.M.yyyy)</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:pattern value="([1-9]|[0-2]\d|3[0-1])\.([1-9]|0[1-9]|1[0-2])\.(-)?\d{4}"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="\s*"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="a">
    <xs:annotation>
      <xs:documentation>Created from X-definition enum(abc,123)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="abc"/>
      <xs:enumeration value="123"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="w">
    <xs:restriction base="xs:string">
      <xs:minLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>