xdef/src/test/java/bugreports/xsd/_XE.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="A">
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="3" minOccurs="1">
          <xs:element maxOccurs="1" minOccurs="0" name="B">
            <xs:complexType/>
          </xs:element>
          <xs:element maxOccurs="2" minOccurs="2" name="C">
            <xs:complexType/>
          </xs:element>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>