xdef-test/src/test/resources/test/xdutils/data/schema/t015_4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://d"
           xmlns:pk="http://d"
           xmlns:pb="http://b"
           elementFormDefault="qualified">

  <xs:import namespace="http://b" schemaLocation="t015_0.xsd"/>

  <xs:element name="a4">
     <xs:complexType>
       <xs:attribute name="atr1" use="optional" type="xs:string" form="unqualified"/>
       <xs:attribute use="optional" ref="pb:atr2"/>
       <xs:attribute name="atr3" use="optional" type="xs:string" form = "qualified"/>
     </xs:complexType>
  </xs:element>
  
</xs:schema>