src/test/resources/test/common/xml/data/TestDTD027.dtd

<?xml version="1.0" encoding="windows-1250"?>
  <!ELEMENT zamestnanec (jmeno, prijmeni, plat, narozen)>
  <!ATTLIST zamestnanec
            id          CDATA   #REQUIRED>
  <!ELEMENT jmeno       (#PCDATA)>
  <!ELEMENT prijmeni    (#PCDATA)>
  <!ELEMENT plat        (#PCDATA)>
  <!ELEMENT narozen     (#PCDATA)>
