xdef/src/test/resources/test/xdutils/data/xsd2xd/t003A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="a">
    <xs:complexType>
      <xs:all minOccurs="0">
        <xs:element name="b" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:long"/>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="c">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:long"/>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>