src/test/java/test/common/xml/data/TestDTD012.dtd

<!ELEMENT XXX (AAA|(BBB,((CCC,DDD)|(CCC,EEE)|FFF))) >
<!ENTITY % ee "&#x27;" >
<!ELEMENT AAA EMPTY >
<!ELEMENT BBB EMPTY >
<!ELEMENT CCC EMPTY >
<!ELEMENT DDD EMPTY >
<!ELEMENT EEE EMPTY >
<!ELEMENT FFF (#PCDATA) >
<!ENTITY e "%ee;" >
<!ELEMENT root EMPTY >
<!ATTLIST root a1 CDATA #REQUIRED 
               a2 CDATA "x&e;y&e;z" >
