src.old/test/resources/test/xdutils/data/xsd2xd/Sisma_common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="Sisma_common.xsd"/>
  <xs:complexType name="L1_common_VozidloPS_cType">
    <xs:sequence>
      <xs:element name="Vozidlo" type="L1_common_Vozidlo_cType"/>
      <xs:element minOccurs="0"
        name="Vlastnik"
        type="L1_common_Subjekt_cType"/>
      <xs:element minOccurs="0"
        name="Provozovatel"
        type="L1_common_Subjekt_cType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="L1_common_Subjekt_cType">
    <xs:sequence>
      <xs:element minOccurs="0"
        name="Adresa"
        type="L1_common_Adresa_cType"/>
    </xs:sequence>
    <xs:attribute name="DatumNarozeni" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          datetime('yyyyMMdd|dd.MM.yyyy','yyyyMMdd')
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="IC">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>
            string('1','12')
          </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:maxLength value="12"/>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Jmeno">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>
            string('1','24')
          </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:maxLength value="24"/>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="NazevFirmy">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>
            string('1','100')
          </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:maxLength value="100"/>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Prijmeni">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>
            string('1','36')
          </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:maxLength value="36"/>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="RC">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>
            string('1','14')
          </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:maxLength value="14"/>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="StatPrislusnost" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          tab('CC_Stat','KodStatu')
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Zruseni"
      type="xs:string"
      use="required">
      <xs:annotation>
        <xs:documentation>
          list('A','N')
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="L1_common_Osoba_cType">
    <xs:sequence>
      <xs:element minOccurs="0"
        name="Adresa"
        type="L1_common_Adresa_cType"/>
    </xs:sequence>
    <xs:attribute name="DatumNarozeni" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          datetime('yyyyMMdd|dd.MM.yyyy','yyyyMMdd')
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Jmeno" use="required">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>
            string('1','24')
          </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:maxLength value="24"/>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Prijmeni" use="required">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>
            string('1','36')
          </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:maxLength value="36"/>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="RC">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>
            string('1','14')
          </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:maxLength value="14"/>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="StatPrislusnost" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          tab('CC_Stat','KodStatu')
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="L1_common_RezervaXX_cType">
    <xs:attribute name="Mena"
      type="xs:string"
      use="required">
      <xs:annotation>
        <xs:documentation>
          tab('CC_Mena','KodMeny')
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Rezerva"
      type="xs:string"
      use="required">
      <xs:annotation>
        <xs:documentation>
          dec('11','2')
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="TypSkody"
      type="xs:string"
      use="required">
      <xs:annotation>
        <xs:documentation>
          tab('CC_PodtypSkody','KodPodtypuSkody')
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Zmena"
      type="xs:string"
      use="required">
      <xs:annotation>
        <xs:documentation>
          dec('11','2')
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Zruseni"
      type="xs:string"
      use="required">
      <xs:annotation>
        <xs:documentation>
          list('A','N')
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="L1_common_PU_cType">
    <xs:sequence>
      <xs:element name="Poskozeny" type="L1_common_Subjekt_cType"/>
      <xs:element maxOccurs="unbounded"
        minOccurs="0"
        name="Indikator"
        type="L1_common_Indikator_cType"/>
      <xs:element minOccurs="0"
        name="Likvidator"
        type="L1_common_Osoba_cType"/>
    </xs:sequence>
    <xs:attribute name="CisloPU" use="required">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>
            string('3','35')
          </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:maxLength value="35"/>
          <xs:minLength value="3"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="CisloSU" use="required">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>
            string('3','35')
          </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:maxLength value="35"/>
          <xs:minLength value="3"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="DatumUcinnosti"
      type="xs:string"
      use="required">
      <xs:annotation>
        <xs:documentation>
          datetime('{ss00}yyyyMMddHHmm|{ss00}dd.MM.yyyy HH:mm','yyyyMMddHHmmss')
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="IdentZaznamu" use="required">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>
            string('1','19')
          </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:maxLength value="19"/>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="L1_common_Vozovka_cType">
    <xs:attribute name="CisloSilnice">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>
            string('1','15')
          </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:maxLength value="15"/>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="DoObce">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>
            string('1','36')
          </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:maxLength value="36"/>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Km" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          dec('5','1')
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Okres">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>
            string('1','36')
          </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:maxLength value="36"/>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Stat"
      type="xs:string"
      use="required">
      <xs:annotation>
        <xs:documentation>
          tab('CC_Stat','KodStatu')
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ZObce">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>
            string('1','36')
          </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:maxLength value="36"/>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="L1_common_VozidloNezjistene_cType">
    <xs:attribute name="PoradiVozidlaSU" use="required">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>
            int('1')
          </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:int">
          <xs:maxInclusive value="1"/>
          <xs:minInclusive value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="L1_common_SkodaVozidla_cType">
    <xs:attribute name="KodOpravny" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          tab('CC_Opravna','KodOpravny')
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Kvadrant" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          kvadrant()
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Mena" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          tab('CC_Mena','KodMeny')
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="PlatnostDoTK" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          datetime('yyyyMMdd|dd.MM.yyyy','yyyyMMdd')
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="PocetKm">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>
            int('0','9999999')
          </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:int">
          <xs:maxInclusive value="9999999"/>
          <xs:minInclusive value="0"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Skoda">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>
            int('1','99999999')
          </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:int">
          <xs:maxInclusive value="99999999"/>
          <xs:minInclusive value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="L1_common_Indikator_cType">
    <xs:attribute name="Indikator"
      type="xs:string"
      use="required">
      <xs:annotation>
        <xs:documentation>
          tab('CC_Indikator','Indikator')
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Zruseni"
      type="xs:string"
      use="required">
      <xs:annotation>
        <xs:documentation>
          list('A','N')
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="L1_common_Vozidlo_cType">
    <xs:attribute name="BarvaText">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>
            string('1','20')
          </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:maxLength value="20"/>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="CisloTP">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>
            string('1','12')
          </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:maxLength value="12"/>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="DruhVozidla" use="required">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>
            fil0('2')ANDtab('CC_DruhVozidla','KodDruhuVozidla')
          </xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="xs:string xs:string"/>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="KodModeluVozidla" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          tab('CC_ModelVozidla','KodModeluVozidla')
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="MPZ"
      type="xs:string"
      use="required">
      <xs:annotation>
        <xs:documentation>
          tab('CC_Stat','KodStatu')
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ModelText">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>
            string('1','40')
          </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:maxLength value="40"/>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="RokDoProvozu" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          datetime('yyyy')
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="SPZ">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>
            string('2','12')
          </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:maxLength value="12"/>
          <xs:minLength value="2"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="VIN">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>
            string('1','26')
          </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:maxLength value="26"/>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="ZnackaText">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>
            string('1','30')
          </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:maxLength value="30"/>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="L1_common_VozidloNepojistene_cType">
    <xs:sequence>
      <xs:element name="VozidloPS" type="L1_common_VozidloPS_cType"/>
      <xs:element minOccurs="0"
        name="Ridic"
        type="L1_common_Osoba_cType"/>
      <xs:element minOccurs="0"
        name="SkodaVozidla"
        type="L1_common_SkodaVozidla_cType"/>
    </xs:sequence>
    <xs:attribute name="PoradiVozidlaSU" use="required">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>
            int('1')
          </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:int">
          <xs:maxInclusive value="1"/>
          <xs:minInclusive value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="L1_common_RegresXX_cType">
    <xs:attribute name="Castka"
      type="xs:string"
      use="required">
      <xs:annotation>
        <xs:documentation>
          dec('11','2')
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Mena"
      type="xs:string"
      use="required">
      <xs:annotation>
        <xs:documentation>
          tab('CC_Mena','KodMeny')
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Regres"
      type="xs:string"
      use="required">
      <xs:annotation>
        <xs:documentation>
          dec('11','2')
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="TypRegresu"
      type="xs:string"
      use="required">
      <xs:annotation>
        <xs:documentation>
          tab('CC_TypRegresu','KodTypRegresu')
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="TypSkody"
      type="xs:string"
      use="required">
      <xs:annotation>
        <xs:documentation>
          tab('CC_PodtypSkody','KodPodtypuSkody')
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Zruseni"
      type="xs:string"
      use="required">
      <xs:annotation>
        <xs:documentation>
          list('A','N')
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="L1_common_VozidloUcastnika_cType">
    <xs:sequence>
      <xs:element name="VozidloPS" type="L1_common_VozidloPS_cType"/>
      <xs:element minOccurs="0"
        name="Ridic"
        type="L1_common_Osoba_cType"/>
      <xs:element minOccurs="0"
        name="SkodaVozidla"
        type="L1_common_SkodaVozidla_cType"/>
    </xs:sequence>
    <xs:attribute name="PoradiVozidlaSU" use="required">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>
            int('2','999')
          </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:int">
          <xs:maxInclusive value="999"/>
          <xs:minInclusive value="2"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Zruseni"
      type="xs:string"
      use="required">
      <xs:annotation>
        <xs:documentation>
          list('A','N')
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="L1_common_GPS_cType">
    <xs:attribute name="SSyst"
      type="xs:string"
      use="required">
      <xs:annotation>
        <xs:documentation>
          list('WGS84')
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="X"
      type="xs:string"
      use="required">
      <xs:annotation>
        <xs:documentation>
          dec('9','5')
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Y"
      type="xs:string"
      use="required">
      <xs:annotation>
        <xs:documentation>
          dec('9','5')
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="L1_common_Smlouva_cType">
    <xs:sequence>
      <xs:element minOccurs="0"
        name="Pojistnik"
        type="L1_common_Subjekt_cType"/>
      <xs:element minOccurs="0"
        name="VozidloPS"
        type="L1_common_VozidloPS_cType"/>
    </xs:sequence>
    <xs:attribute name="CisloSmlouvy" use="required">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>
            string('3','35')
          </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:maxLength value="35"/>
          <xs:minLength value="3"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="DruhPojisteni"
      type="xs:string"
      use="required">
      <xs:annotation>
        <xs:documentation>
          list('POV','HAVPOV','HAV')
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="KodPojistitele" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          tab('CC_Pojistitel','KodPojistitele')
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="PoradiVozidla" use="required">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>
            num('1','10')
          </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:pattern value="\d{1,10}"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="L1_common_Adresa_cType">
    <xs:attribute name="CisloDomu">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>
            string('1','10')
          </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:maxLength value="10"/>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Obec">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>
            string('1','36')
          </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:maxLength value="36"/>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Okres">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>
            string('1','36')
          </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:maxLength value="36"/>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="PSC">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>
            string('1','16')
          </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:maxLength value="16"/>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Stat"
      type="xs:string"
      use="required">
      <xs:annotation>
        <xs:documentation>
          tab('CC_Stat','KodStatu')
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Ulice">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>
            string('1','36')
          </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:maxLength value="36"/>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="L1_common_SU_cType">
    <xs:sequence>
      <xs:element name="Misto" type="L1_common_Misto_cType"/>
      <xs:choice>
        <xs:element name="VozidloPojistnika"
          type="L1_common_VozidloPojistnika_cType"/>
        <xs:element name="VozidloNezjistene"
          type="L1_common_VozidloNezjistene_cType"/>
        <xs:element name="VozidloNepojistene"
          type="L1_common_VozidloNepojistene_cType"/>
      </xs:choice>
      <xs:element maxOccurs="unbounded"
        minOccurs="0"
        name="VozidloUcastnika"
        type="L1_common_VozidloUcastnika_cType"/>
      <xs:element maxOccurs="unbounded"
        minOccurs="0"
        name="Svedek"
        type="L1_common_Osoba_cType"/>
      <xs:element maxOccurs="unbounded"
        minOccurs="0"
        name="Znalec"
        type="L1_common_Osoba_cType"/>
      <xs:element maxOccurs="unbounded"
        minOccurs="0"
        name="Indikator"
        type="L1_common_Indikator_cType"/>
      <xs:element minOccurs="0"
        name="Likvidator"
        type="L1_common_Osoba_cType"/>
    </xs:sequence>
    <xs:attribute name="CJRelacePolicie">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>
            string('1','50')
          </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:maxLength value="50"/>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="CisloSU" use="required">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>
            string('3','35')
          </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:maxLength value="35"/>
          <xs:minLength value="3"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="DatumCasDoSU" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          datetime('{ss00}yyyyMMddHHmm|{ss00}dd.MM.yyyy HH:mm','yyyyMMddHHmmss')
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="DatumCasOznameniSU" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          datetime('{ss00}yyyyMMddHHmm|{ss00}dd.MM.yyyy HH:mm','yyyyMMddHHmmss')
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="DatumCasSU"
      type="xs:string"
      use="required">
      <xs:annotation>
        <xs:documentation>
          datetime('{ss00}yyyyMMddHHmm|{ss00}dd.MM.yyyy HH:mm','yyyyMMddHHmmss')
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="DatumUcinnosti"
      type="xs:string"
      use="required">
      <xs:annotation>
        <xs:documentation>
          datetime('{ss00}yyyyMMddHHmm|{ss00}dd.MM.yyyy HH:mm','yyyyMMddHHmmss')
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="IdentZaznamu" use="required">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>
            string('1','19')
          </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:maxLength value="19"/>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="LikvidacniTitul"
      type="xs:string"
      use="required">
      <xs:annotation>
        <xs:documentation>
          list('HAV','POV')
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="RozhodnaUdalost"
      type="xs:string"
      use="required">
      <xs:annotation>
        <xs:documentation>
          list('A','N')
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="StavSetreniPolicie" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          tab('CC_StavSetreniPolicie','KodStavuSetreniPolicie')
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="L1_common_VozidloPojistnika_cType">
    <xs:sequence>
      <xs:element name="Smlouva" type="L1_common_Smlouva_cType"/>
      <xs:element minOccurs="0"
        name="Ridic"
        type="L1_common_Osoba_cType"/>
      <xs:element minOccurs="0"
        name="SkodaVozidla"
        type="L1_common_SkodaVozidla_cType"/>
    </xs:sequence>
    <xs:attribute name="PoradiVozidlaSU" use="required">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>
            int('1')
          </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:int">
          <xs:maxInclusive value="1"/>
          <xs:minInclusive value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="L1_common_PlneniXX_cType">
    <xs:attribute name="Mena"
      type="xs:string"
      use="required">
      <xs:annotation>
        <xs:documentation>
          tab('CC_Mena','KodMeny')
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Platba"
      type="xs:string"
      use="required">
      <xs:annotation>
        <xs:documentation>
          dec('11','2')
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="TypMinusPlneni" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          tab('CC_TypMinusPlneni','KodTypMinusPlneni')
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="TypSkody"
      type="xs:string"
      use="required">
      <xs:annotation>
        <xs:documentation>
          tab('CC_PodtypSkody','KodPodtypuSkody')
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Ucet">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>
            string('1','35')
          </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:maxLength value="35"/>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Vyplaceno"
      type="xs:string"
      use="required">
      <xs:annotation>
        <xs:documentation>
          dec('11','2')
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Zruseni"
      type="xs:string"
      use="required">
      <xs:annotation>
        <xs:documentation>
          list('A','N')
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType mixed="true" name="L1_common_Misto_cType">
    <xs:sequence>
      <xs:element minOccurs="0"
        name="GPS"
        type="L1_common_GPS_cType"/>
      <xs:element minOccurs="0"
        name="Adresa"
        type="L1_common_Adresa_cType"/>
      <xs:element minOccurs="0"
        name="Vozovka"
        type="L1_common_Vozovka_cType"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>