src.old/test/resources/test/xdutils/data/xsd2xd/typeTestSchema.xsd

<?xml version="1.0" encoding="windows-1250"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="main_Types_cType">
    <xs:sequence>
      <xs:sequence>
        <xs:choice minOccurs="0"
          maxOccurs="unbounded">
          <xs:element name="base64"
            minOccurs="0"
            maxOccurs="unbounded"
            type="xs:base64Binary">
          </xs:element>
          <xs:element name="base64_1"
            minOccurs="0"
            maxOccurs="unbounded">
            <xs:simpleType>
              <xs:restriction base="xs:base64Binary">
                <xs:length value="2"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="base64_2"
            minOccurs="0"
            maxOccurs="unbounded">
            <xs:simpleType>
              <xs:restriction base="xs:base64Binary">
                <xs:minLength value="4"/>
                <xs:maxLength value="6"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="boolean"
            minOccurs="0"
            maxOccurs="unbounded"
            type="xs:boolean">
          </xs:element>
          <xs:element name="dec"
            minOccurs="0"
            maxOccurs="unbounded">
            <xs:simpleType>
              <xs:union memberTypes="xs:decimal">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="\d+(,\d+)?"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:union>
            </xs:simpleType>
          </xs:element>
          <xs:element name="dec_1"
            minOccurs="0"
            maxOccurs="unbounded">
            <xs:simpleType>
              <xs:union>
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="5"/>
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="\d+(,\d+)?"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:union>
            </xs:simpleType>
          </xs:element>
          <xs:element name="dec_2"
            minOccurs="0"
            maxOccurs="unbounded">
            <xs:simpleType>
              <xs:union>
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="4"/>
                    <xs:fractionDigits value="3"/>
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="\d+(,\d+)?"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:union>
            </xs:simpleType>
          </xs:element>
          <xs:element name="ENTITY"
            minOccurs="0"
            maxOccurs="unbounded"
            type="xs:ENTITY">
          </xs:element>
          <xs:element name="ENTITIES"
            minOccurs="0"
            maxOccurs="unbounded"
            type="xs:ENTITIES">
          </xs:element>
          <xs:element name="ID"
            minOccurs="0"
            maxOccurs="unbounded"
            type="xs:ID">
          </xs:element>
          <xs:element name="IDREF"
            minOccurs="0"
            maxOccurs="unbounded"
            type="xs:IDREF">
          </xs:element>
          <xs:element name="IDREFS"
            minOccurs="0"
            maxOccurs="unbounded"
            type="xs:IDREFS">
          </xs:element>
          <xs:element name="ISOdateTime"
            minOccurs="0"
            maxOccurs="unbounded"
            type="xs:dateTime">
          </xs:element>
          <xs:element name="ISOdate"
            minOccurs="0"
            maxOccurs="unbounded"
            type="xs:date">
          </xs:element>
          <xs:element name="ISOtime"
            minOccurs="0"
            maxOccurs="unbounded"
            type="xs:time">
          </xs:element>
          <xs:element name="ISOday"
            minOccurs="0"
            maxOccurs="unbounded"
            type="xs:gDay">
          </xs:element>
          <xs:element name="ISOlanguage"
            minOccurs="0"
            maxOccurs="unbounded"
            type="xs:language">
          </xs:element>
          <xs:element name="ISOlanguages"
            minOccurs="0"
            maxOccurs="unbounded">
            <xs:simpleType>
              <xs:restriction base="xs:string"/>
            </xs:simpleType>
          </xs:element>
          <xs:element name="ISOmonth"
            minOccurs="0"
            maxOccurs="unbounded"
            type="xs:gMonth">
          </xs:element>
          <xs:element name="ISOmonthDay"
            minOccurs="0"
            maxOccurs="unbounded"
            type="xs:gMonthDay">
          </xs:element>
          <xs:element name="ISOyear"
            minOccurs="0"
            maxOccurs="unbounded"
            type="xs:string">
          </xs:element>
          <xs:element name="ISOyearMonth"
            minOccurs="0"
            maxOccurs="unbounded"
            type="xs:gYearMonth">
          </xs:element>
          <xs:element name="ISOduration"
            minOccurs="0"
            maxOccurs="unbounded"
            type="xs:duration">
          </xs:element>
          <xs:element name="float"
            minOccurs="0"
            maxOccurs="unbounded"
            type="xs:double">
          </xs:element>
          <xs:element name="float_1"
            minOccurs="0"
            maxOccurs="unbounded">
            <xs:simpleType>
              <xs:restriction base="xs:double">
                <xs:enumeration value="0.123"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="float_2"
            minOccurs="0"
            maxOccurs="unbounded">
            <xs:simpleType>
              <xs:restriction base="xs:double">
                <xs:minInclusive value="0"/>
                <xs:maxInclusive value="100"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="hex"
            minOccurs="0"
            maxOccurs="unbounded"
            type="xs:hexBinary">
          </xs:element>
          <xs:element name="hex_1"
            minOccurs="0"
            maxOccurs="unbounded">
            <xs:simpleType>
              <xs:restriction base="xs:hexBinary">
                <xs:length value="3"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="hex_2"
            minOccurs="0"
            maxOccurs="unbounded">
            <xs:simpleType>
              <xs:restriction base="xs:hexBinary">
                <xs:minLength value="2"/>
                <xs:maxLength value="4"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="int"
            minOccurs="0"
            maxOccurs="unbounded"
            type="xs:long">
          </xs:element>
          <xs:element name="int_1"
            minOccurs="0"
            maxOccurs="unbounded">
            <xs:simpleType>
              <xs:restriction base="xs:long">
                <xs:enumeration value="10000"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="int_2"
            minOccurs="0"
            maxOccurs="unbounded">
            <xs:simpleType>
              <xs:restriction base="xs:long">
                <xs:minInclusive value="0"/>
                <xs:maxInclusive value="100"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="list_n"
            minOccurs="0"
            maxOccurs="unbounded">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="abc"/>
                <xs:enumeration value="def"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="NCname"
            minOccurs="0"
            maxOccurs="unbounded"
            type="xs:NCName">
          </xs:element>
          <xs:element name="NMTOKEN"
            minOccurs="0"
            maxOccurs="unbounded"
            type="xs:NMTOKEN">
          </xs:element>
          <xs:element name="NMTOKENS"
            minOccurs="0"
            maxOccurs="unbounded"
            type="xs:NMTOKENS">
          </xs:element>
          <xs:element name="NOTATION"
            minOccurs="0"
            maxOccurs="unbounded">
            <xs:complexType/>
          </xs:element>
          <xs:element name="normString"
            minOccurs="0"
            maxOccurs="unbounded"
            type="xs:normalizedString">
          </xs:element>
          <xs:element name="Qname"
            minOccurs="0"
            maxOccurs="unbounded"
            type="xs:QName">
          </xs:element>
          <xs:element name="string"
            minOccurs="0"
            maxOccurs="unbounded"
            type="xs:string">
          </xs:element>
          <xs:element name="string_1"
            minOccurs="0"
            maxOccurs="unbounded">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="5"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="string_2"
            minOccurs="0"
            maxOccurs="unbounded">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:minLength value="2"/>
                <xs:maxLength value="4"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="uri"
            minOccurs="0"
            maxOccurs="unbounded">
            <xs:simpleType>
              <xs:restriction base="xs:anyURI"/>
            </xs:simpleType>
          </xs:element>
        </xs:choice>
      </xs:sequence>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Types"
    type="main_Types_cType"/>
</xs:schema>